.b-lazy {
  opacity: 0;
  transition: opacity .4s;
}

.b-loaded {
  opacity: 1;
}

a {
  color: inherit;
}

*:focus {
  outline: none;
}

*::selection {
  color: white;
  background-color: $color-primary;
}
