.navigation {
  @include bp(lg){
    display: none;
  }

  .menu-item {
    &:nth-of-type(n) {
      &:before {
        @include bp(xl){
          padding-right: rem(30);
        }
      }
    }

    a span {
      @include bp(xl){
        font-size: rem(18);
        padding-right: rem(15);
      }
    }
  }

}

.container {
  @include bp(xxl){
    padding-left: rem(35);
    padding-right: rem(35);
  }
  @include bp(md){
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.offer__list li{
  display: flex;
  align-items: center;
}

.offer__list li span {
  position: relative;
  right: auto;
  display: block;
  min-width: 32px;
  @include bp(lg){
    display: none;
  }
}

.about__text__container{
  .about__paragraph{
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
    padding-top: 0;
    &:first-of-type{
      max-height: 600px;
      padding-top: 5px;
    }
  }
  &.show--full{
    .about__paragraph{
      max-height: 700px;
      padding-top: 5px;
      transition: 1s ease-in-out;
    }
  }
}

#menu-footer li:first-of-type{
  a{
    padding-left: 0;
    @include bp(lg){
      padding-left: 15px !important;
    }
  }
}

.hide-for-desktop{
  display: none !important;
  @include bp(lg){
    display: flex !important;
  }
}
