/* playfair-display-regular - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-700 - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-italic - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-700italic - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'),
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlayFair/playfair-display-v14-latin-ext_latin-700italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
