// variables

$color-primary: #b08e79;
$color-black: #363837;
$color-grey: #e8e8e8;

$font-primary: "Playfair Display";
$font-subprimary: "Work Sans";
$font-subprimary-2: "Lora";

@function rem($pixels) {
  @return ($pixels / 16) + rem;
}

// mixins

@mixin bp($point) {
  @if $point == xs {
    @media (max-width: 359px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 499px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $point == xxl {
    @media (max-width: 1599px) {
      @content;
    }
  } @else {
    @media (max-width: $point) {
      @content;
    }
  }
}

@mixin gutters($gutter) {
  margin-right: rem(-$gutter);
  margin-left: rem(-$gutter);
  > .col,
  > [class*="col-"] {
    padding-right: rem($gutter);
    padding-left: rem($gutter);
  }
}

$screen-lg-min: 1024px;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
