
include contents

mixin grid-5()
  +main-section({ id: 5, partial: 'grids' }).pt-60.pb-20.pt-lg-100.pb-lg-30.text-center.text-sm-left
    +row
      each item in gridItems5
        +grid-5-item(item)


//- PARTIALS
mixin grid-5-item({ title, text })
  +col(['12', 'sm-6']).mb-40.mb-lg-70
    h3.mb-20= title
    h4!= text
