

mixin grid-1()
  +main-section({ id: 1, partial: 'grids' }).p-60.p-lg-100.text-center
    +row('center')
      +col(['12', 'sm-10', 'lg-8'])
        h1.mb-20 Example headline text
        h4.
          Even the all-powerful Pointing has no control
          about the blind texts it is an almost unorthographic
          life One day however a small line of blind text by the
          name of Lorem Ipsum decided to leave for the far World of Grammar
