

mixin grid-6()
  +main-section({ id: 6, partial: 'grids' }).p-60.p-lg-100.text-center.text-sm-left
    h1.mb-40.text-center Example headline text

    +row
      +col(['12', 'sm-6'])
        h4.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
          a large language ocean. A small river named Duden flows by their place far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia, there live the

      +col(['12', 'sm-6'])
        h4.
          blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, far far away,
          behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          Separated they live in Bookmarksgrove right at the coast.
