
include partials

mixin header-6()
  +main-section({ id: 6, partial: 'headers', isFluid: true }).bg-light.text-center.pb-60.pb-lg-100
    .ph-15.ph-sm-30.ph-lg-70.p-40.mb-30.mb-lg-60
      +row('between', 'center')
        +col(['2', 'sm-4']).text-left
          +logo

        +col('auto')
          nav.navbar.d-lg-none
            +burger

          +horizontal-menu(['Menu one', 'Menu two', 'Menu three', 'Menu four']).d-none.d-lg-block

        +col(['2', 'sm-4']).d-none.d-sm-block.text-right
          nav.navbar
            a(href="")
              img(src="img/icons/search.svg")
            +button-small({ isLink: true })

    .container
      +row('center').mb-40
        +col(['12', 'sm-8', 'lg-6'])
          .header__title.align-center
            h1.mb-30 Example headline text
            h4.mb-40.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia

            +button({ icon: 'facebook', text: 'Sign up with facebook' })

      p.striked-header.mb-40
        span or register using form

      +row('center').text-center
        +col(['12', 'sm-10', 'lg-8'])
          form.mb-60
            +row
              +col(['12', 'sm-6']).mb-20
                +input({ glyphicon: true })(type="text" placeholder="Input")
              +col(['12', 'sm-6']).mb-20
                +input({ glyphicon: true })(type="text" placeholder="Input")

            +button.w-full.no-padding

          p.ph-0.ph-sm-60.
            By signing up I agree to the <a href="">terms of service</a> and <a href="">privacy policy</a>
