
include partials

mixin header-1()
  header.hero
    a.hero__mail(href="mailto:kontakt@kancelariasosnicka.pl") Kontakt@kancelariasosnicka.pl
    .hero__border__container
    img.hero__image--small(src="img/pics/hero_img_small.png", alt="Image")
    img.hero__image--large(src="img/pics/hero_img_large.png", alt="Image")
    button.hero__btn--arrow#about__slide
      img(src="img/icons/arrow_down.png", alt="Icon")
    .container
      .hero__header--container
        h1.hero__header Barbara Sośnicka
        h2.hero__subheader Kancelaria Radcy Prawnego
      .navigation
        ul.menu
          li.menu__item
            a(href="#").menu__link Strona główna
          li.menu__item
            a(href="#").menu__link Blog
          li.menu__item
            a(href="#").menu__link O kancelarii
          li.menu__item
            a(href="#").menu__link Kontakt
