.hero
  background-color: MainBlack
  height: 485px
  background-image: url('../img/pics/logo_mobile.png')
  background-repeat: no-repeat
  background-position: right
  text-align: center

.hero__contact
  background-color: MainBlack
  height: 365px
  background-image: url('../img/logos/logo_contact_mobile.png')
  background-repeat: no-repeat
  background-position: right
  background-position-y: 0px
  text-align: center
  .hero__border__container
    z-index: 1
  .hero__mail
    z-index: 2
  h1.hero__header__contact
    font-family: 'Work Sans'
    font-size: 30px
    color: White
    text-transform: uppercase
    top: 53px
    letter-spacing: 2px
  .navigation
    z-index: 2

.navigation
  top: 80px
  display: none

.menu
  display: flex
  margin-left: 60px
  list-style-type: none
  li
    &:nth-of-type(2)::before,
    &:nth-of-type(3)::before,
    &:nth-of-type(4)::before
      content: "\25CF"
      color: White
      font-size: 15px
      padding-right: 45px
      bottom: 2px

// .menu__item
//   a
//     font-size: 20px
//     font-family: "Lora"
//     color: White
//     padding-right: 48px
//WP
.menu-item
  a
    span
      font-size: 20px
      font-family: "Lora"
      color: White
      padding-right: 25px

.hero__border__container
  border: 2px solid White
  border-radius: 15px
  position: absolute
  top: 20px
  left: 20px
  bottom: 20px
  right: 20px

.hero__image--large,
.hero__logo--large
  display: none

.hero__image--small
  position: absolute
  bottom: 0
  left: 50%
  transform: translate(-50%)

.hero__logo--small
  margin: 50px auto

.hero__mail
  position: absolute
  left: 20px
  bottom: 50px
  font-size: 12px
  text-transform: uppercase
  color: White
  font-family: 'Work Sans'
  background-color: MainBlack 
  transform: rotate(-90deg)
  transform-origin: 0% 50%
  z-index: 10
  padding: 0 7px 0 7px
  letter-spacing: 1px

.hero__btn--arrow
  width: 60px
  height: 60px
  border: none 
  border-radius: 50px
  background-color: MainBlack
  color: White
  font-size: 40px
  position: absolute
  bottom: -10px
  z-index: 999
  left: 50%
  transform: translate(-50%)
  display: flex
  align-items: center
  justify-content: center

.hero__header--container
  color: White
  font-family: 'Work Sans'
  position: absolute
  text-transform: uppercase
  width: 99%
  top: 47px
  margin-left: -10px
  h1
    font-size: 25px
    font-weight: 400
    letter-spacing: 1px
    padding-bottom: 5px
  h2
    font-size: 13px
    font-weight: 400
    letter-spacing: 1px


//RWD

//Min width 1024px
@media all and (min-width: 1024px)
  .navigation
    display: flex
  
  .hero
    background-color: MainBlack
    height: 720px
    background-image: url('../img/pics/logo_desktop.png')
    background-repeat: no-repeat
    background-position: bottom
    background-position-x: 10%
  
  .hero__contact
    background-color: MainBlack
    height: 470px
    background-image: url('../img/pics/logo_desktop.png')
    background-position-x: 18%
    background-position-y: 100%
    h1.hero__header__contact
      font-size: 40px
      position: absolute
      top: 210px
      left: 16%

  // .menu__link
  //   transition: .3s
  //   &:hover
  //     color: ButtonBrown
  //     text-decoration: underline
  //WP
  .menu-item
    span
      transition: .3s
    a
      transition: .3s
    &:hover span
      color: ButtonBrown
      text-decoration: underline
  
  .hero__image--small
    display: none
  
  .hero__logo--small
    display: none

  .hero__image--large,
  .hero__logo--large
    display: block

  .hero__image--large
    position: absolute
    bottom: 0
    right: 5%

  .hero__logo--large
    top: 45%
    left: 5%
    width: 42%
  
  .hero__border__container
    top: 35px
    left: 35px
    bottom: 35px
    right: 35px

  .hero__mail
    left: 35px

  .hero__btn--arrow
    bottom: -29px

  .hero__header--container
    top: 300px
    left: 0
    width: 60%
    margin-left: 0
    h1
      font-size: 46px
    h2
      font-size: 22px

//Min width 1300px
@media all and (min-width: 1300px)
  .menu
    // margin-left: 0
    margin-left: -10px

  .hero
    background-position-x: 19%
  
  .hero__mail
    font-size: 14px
    bottom: 38px
    padding: 20px

  .hero__header--container
    top: 304px
    left: 0
    width: 50%
    h1
      font-size: 55px
      letter-spacing: 2px
      padding-bottom: 7px
    h2
      font-size: 29px

  .hero__contact    
    h1.hero__header__contact
      font-size: 48px

//Min width 1600px
@media all and (min-width: 1600px)
  .hero__image--large
    // right: 25%
    right: 20%
  
  .hero__image--large--contact
    right: 25%

  
//Min width 1920px
// @media all and (min-width: 1920px)
