include partials

mixin header-5(title)
    +main-section({
        id: 5,
        partial: 'headers',
        isFluid: true
    }).bg-light.pb-60.pb-sm-80.pb-lg-240(style="background-image: ")
        .ph-15.ph-sm-30.ph-lg-70.mb-30.mb-lg-150
            nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-15.p-md-30.justify-content-between
                .navbar-brand
                    +logo
                +burger
                +static-menu-dropdown().d-none.d-lg-block
                +socials({
                    google: false,
                    facebook: true,
                    twitter: true,
                    instagram: true,
                    behance: false,
                    linkedin: true
                })
        .container
            +row('center').text-center
                +col(['12', 'sm-10', 'lg-8'])
                    h1.mb-40= title
                    +button({fontawesome: 'info-circle', text: 'Dowiedz się więcej o nas'})(href="about-us.html")



//script.
  $(document).ready(function () {
    // $("ul.sub-menu").addClass("dropdown-menu");
    // $("ul#menu-main-menu li.dropdown a").addClass("dropdown-toggle");
    // $("ul.sub-menu li a").removeClass("dropdown-toggle");
    // $('a.dropdown-toggle').attr('data-toggle', 'dropdown');
    $('.navbar-collapse ul').find('.menu-item-has-children').append('<i class="d-lg-none icon__plus fa fa-plus"></i>');
    setTimeout(function () {
      $('.icon__plus').on('click', function () {
        $(this).siblings('.dropdown-menu').toggleClass('dropdown-menu__show');
      })
    }, 100);
  });