
include partials

mixin header-2()
  header.hero__contact
    a.hero__mail(href="mailto:kontakt@kancelariasosnicka.pl") Kontakt@kancelariasosnicka.pl
    .hero__border__container
    img.hero__image--small.hero__contact__img--small(src="img/pics/contact_hero_pic.png", alt="Image")
    img.hero__image--large(src="img/pics/contact_hero_pic_large.png", alt="Image")
    .container
      h1.hero__header__contact Kontakt
      .navigation
        ul.menu
          li.menu__item
            a(href="#").menu__link Strona główna
          li.menu__item
            a(href="#").menu__link Blog
          li.menu__item
            a(href="#").menu__link O kancelarii
          li.menu__item
            a(href="#").menu__link Kontakt