mixin logo()
  a(href="index.html")&attributes(attributes)
    //img(src="img/logos/logo.svg")
    span= clientName

mixin burger()
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
mixin horizontal-menu(items)
  nav.navbar&attributes(attributes)
    each item, key in items
      a(href= menuLinks[key])= item


mixin static-menu-dropdown(items)
  .collapse.navbar-collapse.bg-light.p-20.text-center#navbarSupportedContent
    ul.navbar-nav.d-lg-inline-flex.m-auto
      li.nav-item.active.menu-item-has-children
        a.nav-link.dropdown-toggle(href="index.html" data-toggle="dropdown" id="navbarDropdown" aria-haspopup="true" aria-expanded="false") O nas
        .dropdown-menu(aria-labelledby="navbarDropdown")
          a.dropdown-item(href='#') Nasz zespół
          a.dropdown-item(href='#') Referencje
          a.dropdown-item(href='#') Kariera
      li.nav-item
        a.nav-link(href='offer.html') Oferta
      li.nav-item
        a.nav-link(href='portfolio.html') Portfolio
      li.nav-item
        a.nav-link(href='blog.html') Blog
      li.nav-item
        a.nav-link(href='contact.html') Kontakt

