-
  var featureItems1 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Three',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    }
  ]

-
  var featureItems2 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains'
    },
    {
      title: 'Feature Two',
      text: 'Far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Three',
      text: 'Separated they live in Bookmarksgrove right at the coast'
    },
    {
      title: 'Feature Four',
      text: 'A small river named Duden flows by their place and supplies it'
    }
  ]

-
  var featureItems3 = [
    {
      title: 'Feature One',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Feature Two',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    },
    {
      title: 'Feature Three',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Feature Four',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    },
    {
      title: 'Feature Five',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Six',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Seven',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Feature Eight',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    }
  ]

-
  var featureItems4 = [
    'Feature One',
    'Feature Two',
    'Feature Three',
    'Feature Four',
    'Feature Five',
    'Feature Six'
  ]

-
  var featureItems5 = [
    {
      title: 'Feature One',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Two',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    },
    {
      title: 'Feature Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var featureItems6 = [
    {
      title: 'Feature One',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Two',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    },
    {
      title: 'Feature Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var featureItems7 = [
    {
      title: 'Feature One',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Two',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    },
    {
      title: 'Feature Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Four',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Five',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    },
    {
      title: 'Feature Six',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var featureItems8 = [
    {
      title: 'Feature One',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Two',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks'
    },
    {
      title: 'Feature Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var featureItems9 = [
    {
      title: 'Feature one with long description'
    },
    {
      title: 'Feature two with long description'
    },
    {
      title: 'Feature three with long description'
    }
  ]

-
  var featureItems10 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Two',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    }
  ]

-
  var featureItems11 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      title: 'Feature Two',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
    },
    {
      title: 'Feature Two',
      text: 'Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum'
    }
  ]

-
  var featureItems12 = [
    {
      tab: 'Tab one',
      items: {
        left: [
          {
            title: 'Feature One',
            text: 'When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove'
          },
          {
            title: 'Feature Two',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          },
          {
            title: 'Feature Three',
            text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
          }
        ],
        right: [
          {
            title: 'Feature Four',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          },
          {
            title: 'Feature Five',
            text: 'When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove'
          },
          {
            title: 'Feature Six',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          }
        ]
      }
    },
    {
      tab: 'Tab two',
      items: {
        left: [
          {
            title: 'Feature One',
            text: 'When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove'
          },
          {
            title: 'Feature Two',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          }
        ],
        right: [
          {
            title: 'Feature Three',
            text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
          },
          {
            title: 'Feature Four',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          }
        ]
      }
    },
    {
      tab: 'Tab three',
      items: {
        left: [
          {
            title: 'Feature One',
            text: 'When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove'
          },
          {
            title: 'Feature Two',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          },
          {
            title: 'Feature Three',
            text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
          }
        ],
        right: [
          {
            title: 'Feature Four',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          },
          {
            title: 'Feature Five',
            text: 'When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove'
          },
          {
            title: 'Feature Six',
            text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
          }
        ]
      }
    }
  ]

-
  var featureItems13 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia',
      isHighlighted: true
    },
    {
      title: 'Feature Two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    }
  ]

-
  var featureItems14 = [
    {
      title: 'Najlepsi specjaliści IT',
      text: 'Nasi programiści, analitycy, projektanci, testerzy, architekci oraz kierownicy projektów są najlepsi w tym co robią. Dbają o rozwój zawodowy poprzez uczestnictwo w szkoleniach branżowych, szkoleniach językowych, warsztatach, konferencjach krajowych i międzynarodowych a także poprzez certyfikację.  Dzięki otwartości umysłu i poszukiwaniu lepszych rozwiązań możemy cieszyć się z wielu sukcesów zawodowych i projektowych.'
    },
    {
      title: 'Atmosfera w pracy ',
      text: 'Najcenniejszym narzędziem pracy jest nasz umysł, dlatego wzajemnie wspieramy się i stymulujemy do rozwoju. Wspólnie spędzamy czas również po godzinach pracy - z całymi rodzinami gotujemy, bierzemy udział w aktywnościach fizycznych i wspieramy inicjatywy charytatywne.'
    },
    {
      title: 'Dedykowane rozwiązania dla biznesu',
      text: 'Nasze rozwiązania są “szyte na miarę”. Dokładnie poznajemy klienta, jego biznes i potrzeby, analizujemy i dobieramy odpowiednie rozwiązanie, spełniające jego wymagania.'
    },
    {
      title: 'Zwinne zarządzanie projektami ',
      text: 'Realizujemy projekty oparte na zwinnych metodykach realizowania projektów (Scrum). Z naszymi klientami komunikujemy się na każdym etapie realizacji projektu dbając o to, aby nasze rozwiązanie było zgodne z jego oczekiwaniami. Tworzymy rozwiązania z dbałością o User Experience.'
    },
    {
      title: 'Pełne zadowolenie klientów',
      text: 'Zadowolenie klientów jest naszym priorytetem. Projekt, który przynosi klientowi wartość to jest tym, co nas napędza. Dlatego nie boimy się zadawać pytań. Tworzone przez nas rozwiązania odpowiadają oczekiwaniom i gwarantują satysfakcję oraz zadowolenie odbiorców. Wysoka jakość świadczonych usług powoduje, iż klienci chętnie polecają naszą firmę, a my dbamy o to, by dzień po dniu potwierdzać swój profesjonalizm i kompetencje.'
    }
  ]

-
  var featureItems15 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Three',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    }
  ]

-
  var featureItems18 = [
    {
      title: 'Feature One'
    },
    {
      title: 'Feature Two'
    },
    {
      title: 'Feature Three'
    },
    {
      title: 'Feature Four'
    }
  ]

-
  var featureItems19 = [
    {
      percent: 32,
      text: 'Far far away, behind the word'
    },
    {
      percent: 12,
      text: 'Far far away, behind the word'
    },
    {
      percent: 54,
      text: 'Far far away, behind the word'
    }
  ]

-
  var featureItems20 = [
    {
      number: 235,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      number: 4567,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      number: 890,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var featureItems21 = [
    {
      tab: 'Tab One',
      title: 'Short headline',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      tab: 'Tab Two',
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      tab: 'Tab Three',
      title: 'Short headline',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    }
  ]

-
  var featureItems22 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Three',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    }
  ]
