
include contents

mixin feature-2()
  +main-section({ id: 2, partial: 'features' }).text-center.pt-60.pt-lg-100.pb-20.pb-lg-60
    h1.mb-40.mb-lg-60 Features

    +row
      each item in featureItems2
        +feature-2-item(item)


//- PARTIALS
mixin feature-2-item({ title, text })
  +col(['12', 'sm-3']).mb-40
    img.m-auto.mb-20(src="img/pics/check-54.svg"  alt="")
    h3.mb-10= title
    p!= text

