@font-face {
  /* font-family: NovecentoSansWideNormal; */
  font-family: "Novecento";
  src: url("../webfonts/Novecento_Normal.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Novecento";
  src: url("../webfonts/Novecento_Bold.otf") format("opentype");
  font-weight: 700;
}
body {
  margin: 0 auto;
  font-family: "Playfair Display", sans-serif;
  color: #363837;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  outline: none;
}
.container {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.hero {
  background-color: #363837;
  height: 485px;
  background-image: url("../../assets/img/pics/logo_mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  text-align: center;
}
.hero__contact {
  background-color: #363837;
  height: 365px;
  background-image: url("../../assets/img/logos/logo_contact_mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 0px;
  text-align: center;
}
.hero__contact .hero__border__container {
  z-index: 1;
}
.hero__contact .hero__mail {
  z-index: 2;
}
.hero__contact h1.hero__header__contact {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  top: 53px;
  letter-spacing: 2px;
}
.hero__contact .navigation {
  z-index: 2;
}
.navigation {
  top: 80px;
  display: none;
}
.menu {
  display: flex;
  margin-left: 60px;
  list-style-type: none;
}

.s-hero .menu li::before,
.footer .menu li::before {
  content: "\25CF";
  color: #fff;
  font-size: 15px;
  padding-right: 45px;
  bottom: 2px;
}
.footer .menu li:first-of-type::before,
.footer .menu li:nth-last-of-type(-n + 2)::before {
  display: none !important;
}

.s-hero .menu li:first-of-type::before {
  display: none;
}
.menu li:nth-of-type(2)::before,
.menu li:nth-of-type(3)::before,
.menu li:nth-of-type(4)::before {
  content: "\25CF";
  color: #fff;
  font-size: 15px;
  padding-right: 45px;
  bottom: 2px;
}
.menu-item a span {
  font-size: 20px;
  font-family: "Lora", sans-serif;
  color: #fff;
  padding-right: 25px;
}
.hero__border__container {
  pointer-events: none;
  border: 2px solid #fff;
  border-radius: 15px;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}
.hero__image--large,
.hero__logo--large {
  display: none;
}
.hero__image--small {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.hero__logo--small {
  margin: 50px auto;
}
.hero__mail {
  position: absolute;
  left: 20px;
  bottom: 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Work Sans";
  font-weight: 400;
  background-color: #363837;
  transform: rotate(-90deg);
  transform-origin: 0% 50%;
  z-index: 10;
  padding: 0 7px 0 7px;
  letter-spacing: 1px;
}
.hero__btn--arrow {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background-color: #363837;
  color: #fff;
  font-size: 40px;
  position: absolute;
  bottom: -10px;
  z-index: 999;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__header--container {
  color: #fff;
  font-family: "Work Sans";
  font-weight: 400;
  position: absolute;
  text-transform: uppercase;
  width: 99%;
  top: 47px;
  margin-left: -10px;
}
.hero__header--container h1 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.hero__header--container h2 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}
@media all and (min-width: 1024px) {
  .navigation {
    display: flex;
  }
  .hero {
    background-color: #363837;
    height: 720px;
    background-image: url("../../assets/img/pics/logo_desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 10%;
  }
  .hero__contact {
    background-color: #363837;
    height: 470px;
    background-image: url("../../assets/img/pics/logo_desktop.png");
    background-position-x: 18%;
    background-position-y: 100%;
  }
  .hero__contact h1.hero__header__contact {
    font-size: 40px;
    position: absolute;
    top: 210px;
    left: 16%;
  }
  .menu-item span {
    transition: 0.3s;
  }
  .menu-item a {
    transition: 0.3s;
  }
  .menu-item:hover span {
    color: #b38e7b;
    text-decoration: underline;
  }
  .hero__image--small {
    display: none;
  }
  .hero__logo--small {
    display: none;
  }
  .hero__image--large,
  .hero__logo--large {
    display: block;
  }
  .hero__image--large {
    position: absolute;
    bottom: 0;
    right: 5%;
  }
  .hero__logo--large {
    top: 45%;
    left: 5%;
    width: 42%;
  }
  .hero__border__container {
    top: 35px;
    left: 35px;
    bottom: 35px;
    right: 35px;
  }
  .hero__mail {
    left: 35px;
  }
  .hero__btn--arrow {
    bottom: -29px;
  }
  .hero__header--container {
    top: 300px;
    left: 0;
    width: 60%;
    margin-left: 0;
  }
  .hero__header--container h1 {
    font-size: 46px;
  }
  .hero__header--container h2 {
    font-size: 22px;
  }
}
@media all and (min-width: 1300px) {
  .menu {
    margin-left: -10px;
  }
  .hero {
    background-position-x: 19%;
  }
  .hero__mail {
    font-size: 14px;
    bottom: 38px;
    padding: 20px;
  }
  .hero__header--container {
    top: 304px;
    left: 0;
    width: 50%;
  }
  .hero__header--container h1 {
    font-size: 55px;
    letter-spacing: 2px;
    padding-bottom: 7px;
  }
  .hero__header--container h2 {
    font-size: 29px;
  }
  .hero__contact h1.hero__header__contact {
    font-size: 48px;
  }
}
@media all and (min-width: 1600px) {
  .hero__image--large {
    right: 20%;
  }
  .hero__image--large--contact {
    right: 25%;
  }
}
.about {
  padding: 25px 20px 50px 20px;
}
.about__header {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 20px;
}
.about__logo__container {
  text-align: center;
  margin: 30px auto 20px auto;
}
.about__logo {
  height: 40px;
}
.about__paragraph {
  line-height: 2;
}
.about__paragraph span {
  color: Black;
  font-weight: 700;
}
.about__btn__container {
  text-align: center;
}
.about__btn,
.offer__btn {
  width: 170px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #b38e7b;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin: 30px auto 0 auto;
  font-family: "Work Sans";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer__btn {
  margin: 6px auto 0 34px;
}
.offer {
  height: 414px;
  background-color: #1c1c1c;
  background-image: url("../../assets/img/pics/offer_img_small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer__header {
  color: #fff;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  padding: 30px;
}
.offer__text__container {
  background-color: #363837;
  width: 329px;
  height: 203px;
  padding: 25px 30px 30px 30px;
  position: absolute;
  top: 211px;
  right: 0;
  color: #fff;
}
.offer__list {
  padding-left: 5px;
  list-style: none;
}
.offer__list__item a {
  line-height: 1.2;
  padding: 7.5px 0;
  font-size: 16px;
  color: #fff;
}
.offer__list__item::before {
  color: #b38e7b;
  content: "\25CF";
  font-size: 11px;
  padding-right: 8px;
}
.offer__list__item span {
  display: none;
}
.blog {
  height: 464px;
  background-color: #eaeaea;
  padding-left: 20px;
}
.blog__header {
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.blog__paragraph {
  font-size: 18px;
  padding-right: 30px;
  padding-bottom: 40px;
  line-height: 1.3;
}
.blog__item {
  border-radius: 15px;
  height: 225px;
  min-width: 225px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(54, 56, 55, 0.1);
}
.blog__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #b38e7b;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 23px;
  box-shadow: 0 10px 30px rgba(54, 56, 55, 0.1);
  position: absolute;
  top: 44%;
  left: 75%;
}
.blog__text {
  padding: 20px;
  line-height: 1.2;
}
.blog__image {
  height: 53%;
  background-position: center;
  background-repeat: no-repeat;
}
.blog__image--1 {
  background-image: url("../../assets/img/pics/blog_large_1.jpg");
}
.blog__image--2 {
  background-image: url("../../assets/img/pics/blog_large_2.jpg");
}
.blog__image--3 {
  background-image: url("../../assets/img/pics/blog_large_3.jpg");
}
.blog__image--4 {
  background-image: url("../../assets/img/pics/blog_large_4.jpg");
}
/* .owl-carousel {
  width: 100%;
  margin-right: 0;
  overflow: hidden;
  height: 100%;
}
.owl-item.active {
  min-width: 225px;
  z-index: 10;
}
.owl-item {
  width: 80%;
}
.owl-stage {
  width: 100%;
}
.owl-stage-outer {
  width: 100%;
  height: 225px;
}
.owl-nav {
  display: none;
}
.owl-dots {
  position: absolute;
  top: 250px;
}
.owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #a2a2a2;
  outline: none;
  border: none;
  margin: 6px;
}
.owl-dot.active {
  width: 70px;
} */
.contact {
  text-align: center;
  padding: 60px 20px 30px 20px;
  height: auto;
}
.contact__text__container {
  padding: 0 0 30px 0;
}
.contact__text__container h2 {
  font-size: 24px;
  color: #4a4c4b;
  font-weight: 400;
  padding-bottom: 11px;
  margin-top: 40px;
}
.contact__text__container p:nth-of-type(1) {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 8px;
  width: 80%;
  margin: 0 auto;
}
.contact__text__container p:nth-of-type(2) {
  font-size: 18px;
  padding-bottom: 32px;
}
.contact__address__btn {
  width: 280px;
  height: 50px;
  background-color: #eaeaea;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363837;
  margin-bottom: 10px;
  font-style: normal;
}
.contact__address__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__address {
  margin-bottom: 23px;
}
.contact__border__container {
  position: absolute;
  border: 2px solid #eaeaea;
  border-radius: 15px;
  top: 60px;
  left: 20px;
  right: 20px;
  bottom: 60px;
}
.contact__icon {
  background-color: #fff;
  top: -20px;
  padding-left: 24px;
  padding-right: 24px;
}
.ebook {
  background-color: #313131;
  padding: 0 20px;
  color: #fff;
}
.ebook__img {
  top: -20px;
}
.nf-form-title h3 {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px;
}
.ebook__header--form {
  display: none;
}
.ebook__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nf-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nf-field-5 {
  width: 300px;
  height: 50px;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  padding-left: 60px;
  font-size: 14px;
  outline: none;
}
.nf-field-label {
  text-align: left;
}
.ebook__input__container {
  text-align: center;
  width: 300px;
}
.newsletter__icon {
  color: #929292;
  position: absolute;
  top: 35px;
  left: 15px;
  z-index: 10;
  font-size: 20px;
}
#nf-field-6 {
  margin-top: -75px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: #b38e7b;
  color: #fff;
  text-transform: uppercase;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
#nf-form-2-cont {
  padding-top: 50px;
  text-align: center;
}
.nf-response-msg {
  font-size: 10px;
  position: absolute;
  top: 123px;
  left: 50px;
}
.nf-error-msg {
  font-size: 10px;
  position: absolute;
  left: 30px;
}
.nf-error-required-error {
  top: -80px;
  left: 94px;
}
.nf-after-form-content .nf-error-field-errors {
  position: absolute;
  top: -72px;
  left: -122px;
  width: 250px;
}
.contact__page__icon {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #b38e7b;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail__container,
.phone__container,
.address__container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}
.mail__container a,
.phone__container a,
.address__container a,
.mail__container address,
.phone__container address,
.address__container address {
  font-style: normal;
  padding-left: 15px;
  font-size: 14px;
  text-align: center;
}
.mail__container a {
  color: #b38e7b;
}
.phone__container a {
  color: inherit;
}
address.contact__page__address__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  max-width: 280px;
  margin: 0 auto;
}
@media all and (min-width: 360px) {
  .mail__container a,
  .phone__container a,
  .address__container a,
  .mail__container address,
  .phone__container address,
  .address__container address {
    font-size: 16px;
  }
  .contact__text__container {
    padding: 0 10px 30px 10px;
  }
}
@media all and (min-width: 420px) {
  .offer {
    background-image: url("../../assets/img/pics/offer_img_large.png");
    background-position-x: 42%;
    background-size: cover;
  }
  .offer__header {
    position: absolute;
    right: 0;
    top: 40px;
  }
}
@media all and (min-width: 730px) {
  .offer__header {
    right: 55px;
    top: 60px;
  }
}
@media all and (min-width: 910px) {
  address.contact__page__address__container {
    max-width: none;
  }
  .mail__container,
  .phone__container,
  .address__container {
    width: 33%;
    justify-content: center;
  }
}
@media all and (min-width: 1024px) {
  .about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 60px 20px 80px 20px;
  }
  .about__btn {
    width: 190px;
    height: 50px;
    border-radius: 25px;
  }
  .about__paragraph {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    padding-top: 5px;
  }
  .blog__paragraph {
    padding-right: 0;
  }
  .offer__header {
    z-index: 999;
  }
  .offer__text__container {
    height: 414px;
    width: 400px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 30px 50px 30px;
  }
  .offer {
    background-size: contain;
    background-position: left;
  }
  .offer__list a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    padding: 12.5px 0;
    transition: 0.3s;
  }
  .offer__list li:nth-of-type(1) {
    border-top: 1px solid #4a4c4b;
  }
  .offer__list li {
    border-bottom: 1px solid #4a4c4b;
    cursor: pointer;
  }
  .offer__list li:hover a {
    color: #b38e7b;
    text-decoration: underline;
  }
  .offer__list li span {
    width: 32px;
    height: 32px;
    background-color: #b38e7b;
    border: none;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 0;
  }
  .offer__header {
    right: 88px;
    top: 30px;
  }
  .offer__btn {
    display: none;
  }
  .blog {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .blog__header {
    font-size: 37px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .blog__paragraph {
    padding-bottom: 60px;
  }
  .contact__text__container {
    display: flex;
    justify-content: space-around;
    width: 770px;
    margin: 0 auto;
    padding: 105px 0 130px 0;
  }
  .contact__text__container p:nth-of-type(1) {
    width: 100%;
    padding-bottom: 24px;
  }
  .contact__text__container p:nth-of-type(2) {
    padding-bottom: 0;
  }
  .contact__text__container h2 {
    margin-top: 0;
  }
  .contact__text__container.contact__page__text__container {
    display: block;
    width: 86%;
  }
  .contact__border__container.contact__page__border__container {
    max-width: 1170px;
  }
  .contact__page__address__container {
    padding-top: 55px;
  }
  .contact__page__text {
    width: 56%;
    margin: 0 auto;
  }
  .contact__border__container {
    max-width: 770px;
    margin: 0 auto;
    top: 87px;
    bottom: 85px;
    height: 320px;
  }
  .contact__text {
    width: 40%;
    text-align: left;
  }
  .contact__address__container {
    justify-content: center;
    width: 40%;
  }
  .contact__address {
    margin-bottom: 0;
  }
  .ebook__wrapper {
    display: flex;
    justify-content: center;
  }
  .ebook__header {
    display: none;
  }
  .ebook__header--form {
    display: block;
    font-size: 24px;
    left: -17px;
    top: -17px;
  }
  .ebook__form {
    justify-content: flex-end;
    padding-bottom: 60px;
    margin-left: 0;
  }
  #nf-field-6 {
    position: absolute;
    width: 145px;
    top: 0;
    right: -60px;
    margin-bottom: 0;
    letter-spacing: 0;
  }
  .nf-field-label label {
    width: 330px;
    display: inline-block;
  }
  #nf-form-2-cont {
    text-align: left;
  }
  .ebook__img {
    top: -28px;
    left: -70px;
  }
  .nf-response-msg {
    top: 123px;
    left: 70px;
  }
  .nf-error-msg {
    left: 30px;
  }
  .nf-error-required-error {
    top: 15px;
    left: 63px;
  }
  .nf-after-form-content .nf-error-field-errors {
    top: -58px;
    left: 10px;
  }
}
@media all and (min-width: 1170px) {
  .contact__icon {
    padding-left: 60px;
    padding-right: 60px;
  }
  .offer {
    max-width: 1170px;
    margin: 0 auto;
    box-shadow: 0 10px 40px rgba(54, 56, 55, 0.4);
    border-radius: 15px;
    overflow: hidden;
    z-index: 10;
  }
  .blog {
    height: 700px;
    padding-top: 100px;
    margin-top: -110px;
  }
  /* .owl-item {
    max-width: 270px;
    min-height: 355px;
  } */
  .offer__list__item a {
    font-size: 20px;
  }
  .offer__list a {
    line-height: 1.2;
    padding: 12.5px 0;
  }
  .offer__list a {
    display: flex;
  }
}
@media all and (min-width: 1300px) {
  .about__btn {
    margin: 75px auto 0 auto;
  }
  .offer__text__container {
    width: 470px;
    padding: 25px 30px 65px 30px;
  }
  .offer__header {
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    right: 109px;
    top: 15px;
  }
  .offer__list {
    padding-left: 30px;
    padding-right: 30px;
  }
  .offer__list li {
    line-height: 3;
    font-size: 20px;
  }
  .blog__item {
    height: 322px;
  }
  .blog__image {
    height: 68%;
  }
  .blog__link {
    top: 62%;
    left: 78%;
  }
  .blog__text {
    padding: 30px 20px;
    line-height: 1.4;
  }
  .mail__container a,
  .phone__container a,
  .address__container a,
  .mail__container address,
  .phone__container address,
  .address__container address {
    font-size: 18px;
  }
  .contact__text__container {
    padding: 110px 40px 80px 40px;
    width: 770px;
  }
  .contact__text__container h2 {
    font-size: 24px;
  }
  .contact__text__container p:nth-of-type(1) {
    font-size: 16px;
  }
  .contact__text__container p:nth-of-type(2) {
    font-size: 18px;
  }
  .address__container {
    padding-left: 30px;
  }
  .contact__page__text {
    width: 65%;
  }
  .contact__text__container.contact__page__text__container {
    padding: 80px 40px 80px 40px;
  }
  .contact__text__container.contact__page__text__container h2 {
    font-size: 30px;
  }
  .contact__text__container.contact__page__text__container p:nth-of-type(1) {
    font-size: 18px;
  }
  .contact__text__container.contact__page__text__container p:nth-of-type(2) {
    font-size: 20px;
  }
  .contact__border__container.contact__page__border__container {
    height: 370px;
  }
  .contact {
    padding: 60px 20px 80px 20px;
  }
  .contact.contact__page {
    padding: 60px 20px 30px 20px;
  }
  /* .owl-stage-outer {
    height: 330px;
  } */
}
@media all and (min-width: 1600px) {
  .about {
    padding: 115px 20px 90px 20px;
  }
  .about__header {
    padding-right: 0;
    padding-bottom: 8px;
  }
  .about__logo {
    height: 50px;
  }
  address.contact__page__address__container {
    padding-top: 55px;
  }
}
@media all and (min-width: 1920px) {
  .contact__page__icon {
    width: 35px;
    height: 35px;
  }
}
.sliders .bg-iphone {
  padding: 53px 0 62px;
  background: #fff url("../../assets/img/bg/iphone-330-noscreen.svg") no-repeat;
  background-position: center top;
  background-size: auto 462px;
}
.sliders .iphone-screen {
  height: 346px;
  width: 200px;
  margin: 0 auto;
  transition: 0.5s ease background, 0.5s ease border;
  border: 2px solid transparent;
}
.sliders .is-selected .iphone-screen {
  background-color: #fff;
  border: 1px solid Accent;
}
.sliders .slider-fluid .slider-item {
  max-width: calc(100% - 30px);
  opacity: 0.3;
  transition: 0.5s ease opacity;
}
.sliders .slider-fluid .slider-item.is-selected {
  opacity: 1;
}
.features.bg-iphone-left,
.features.bg-iphone-center,
.features.bg-iphone-right,
.features.bg-iphone-right-top,
.features.bg-macbook-left {
  background-repeat: no-repeat;
}
.features .bg-macbook-center {
  background-size: 121% auto;
  background-position: center top;
  background-image: url("../../assets/img/bg/macbook-full.svg");
}
.features .bg-macbook-center::after {
  content: "";
  display: block;
  padding-top: 40%;
}
.features .feature-tooltips {
  display: inline-block;
  position: relative;
}
.features .icon-feature {
  border: 2px solid Light;
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: 0.3s ease border;
  cursor: pointer;
  margin: -16px 0 0 -16px;
  background: url("../../assets/img/icons/plus.svg") center no-repeat #fff;
}
.features .icon-feature:hover {
  border-color: Accent;
}
.features .feature-tooltip {
  width: 100%;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: -16px;
}
.features .feature-tooltip-overlay {
  position: absolute;
  height: 300px;
  top: -134px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease opacity;
}
.features .icon-feature:hover + .feature-tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}
.features .feature-tooltip-overlay {
  pointer-events: none;
}
.features .feature-tooltip-overlay .inner {
  border: 2px solid Light;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  padding: 30px;
}
.features .percentage {
  width: 230px;
  height: 230px;
}
.features .percentage__circle {
  position: absolute;
}
.features .percentage__content {
  height: 230px;
}
.features .striked-vertical::before {
  content: "";
  position: absolute;
  border-left: 2px solid Light;
  left: 31px;
  top: 15px;
  bottom: 0;
}
.features .feature-callout::before {
  width: 10px;
  height: 10px;
  background: Accent;
  border-radius: 5px;
  top: 22px;
}
.features .feature-callout::after {
  border-top: 2px solid Accent;
  top: 26px;
  right: 100%;
}
.features .feature-callout:nth-child(1)::after,
.features .feature-callout:nth-child(1)::before {
  left: -75%;
}
.features .feature-callout:nth-child(2)::after,
.features .feature-callout:nth-child(2)::before {
  left: -65%;
}
.features .feature-callout:nth-child(3)::after,
.features .feature-callout:nth-child(3)::before {
  left: -103%;
}
.features .plain-tabs::before,
.features .plain-tab::before {
  content: "";
  position: absolute;
  border-left: 4px solid Light;
  left: 0;
  top: 0;
  bottom: 0;
}
.features .plain-tab {
  padding-left: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.features .plain-tab.active::before {
  border-left: 4px solid Accent;
}
.features .feature-dot {
  width: 10px;
  height: 10px;
  background: Light;
  border-radius: 5px;
  margin: 0 auto 20px;
}
.features .active .feature-dot {
  background: Accent;
}
.features .feature-tablet {
  max-width: 100%;
}
.ecommerces .colors span {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin: 0 7px;
}
.ecommerces .colors span.bg-accent-dark {
  background: AccentDark;
}
.ecommerces .colors span.bg-accent {
  background: Accent;
}
.ecommerces .colors span.bg-white {
  background: Light;
}
.ecommerces .colors span.bg-white {
  background: #fff;
}
.ecommerces .additional-row {
  border-top: 1px solid Light;
  border-bottom: 1px solid Light;
  line-height: 40px;
  margin-bottom: -1px;
}
.ecommerces .rating-stars {
  margin-left: -2px;
  margin-right: -2px;
}
.ecommerces .rating-stars .glyphicon {
  margin: 0 2px;
}
.ecommerces .more,
.ecommerces .less {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  width: 33px;
  height: 30px;
  border-radius: 0 6px 0 0;
  background: Light;
}
.ecommerces .more:focus,
.ecommerces .less:focus {
  outline: none;
}
.ecommerces .more::before,
.ecommerces .less::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -10px;
  width: 10px;
  height: 56px;
  background: #fff;
}
.ecommerces .more::after,
.ecommerces .less::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 13px;
  width: 7px;
  height: 7px;
  transform: rotate(-45deg);
  border-top: 2px solid Accent;
  border-right: 2px solid Accent;
}
.ecommerces .more.less,
.ecommerces .less.less {
  top: 30px;
  border-radius: 0 0 6px 0;
  border-top: 1px solid rgba(63, 162, 247, 0.25);
}
.ecommerces .more.less::before,
.ecommerces .less.less::before {
  content: none;
}
.ecommerces .more.less::after,
.ecommerces .less.less::after {
  top: 9px;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid Accent;
  border-left: 2px solid Accent;
}
.blogs .post-footer {
  border-top: 1px solid Light;
  color: Accent;
}
.blogs .post-footer a {
  color: Accent;
}
.blogs .features {
  border-top: 1px solid Light;
  border-bottom: 1px solid Light;
}
.blogs .comments > div {
  border-bottom: 1px solid Light;
}
.blogs .comments > div:last-child {
  border: none;
}
.prices .faded-items div {
  border-bottom: 1px solid Light;
  line-height: 42px;
}
.prices .faded-items div:nth-child(1) {
  opacity: 1;
}
.prices .faded-items div:nth-child(2) {
  opacity: 0.9;
}
.prices .faded-items div:nth-child(3) {
  opacity: 0.8;
}
.prices .faded-items div:nth-child(4) {
  opacity: 0.7;
}
.prices .faded-items div:nth-child(5) {
  opacity: 0.6;
}
.prices .value-bar {
  display: inline-block;
  width: auto;
  height: 8px;
  background: Accent;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 4;
}
.prices input[type="range"] {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  z-index: 2;
}
.prices input[type="range"]:focus {
  outline: none;
}
.prices input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
  top: -6px;
  background: Accent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.prices input[type="range"]::-webkit-slider-thumb:focus {
  outline: none;
}
.prices input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: Light;
}
.prices input[type="range"]::-webkit-slider-runnable-track:focus {
  outline: none;
}
.prices input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.footer__navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.footer__time4 {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #a0a0a0;
  font-size: 12px;
  padding-bottom: 85px;
  padding-top: 27px;
}
.footer__time4 a {
  color: #a0a0a0;
}
.footer__time4.footer__contact__time4 {
  padding-bottom: 85px;
}
.footer__time4.footer__contact__time4::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  position: absolute;
  top: -5px;
}
.footer__call {
  background-color: #474747;
  padding: 0 20px;
}
.footer__call {
  height: 55px;
  display: flex;
  align-items: center;
}
.footer__call img {
  margin-right: 20px;
}
.footer__call a {
  color: #fff;
  text-transform: uppercase;
  font-family: "Work Sans";
  font-weight: 700;
}
.footer__logo--desktop {
  display: none;
}
.footer__menu {
  background-color: #363837;
  position: absolute;
  display: none;
  left: 15%;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 998;
  padding-bottom: 100px;
  padding-top: 30px;
  transition: 0.3s;
  border-top-left-radius: 10px;
}
.footer__menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  height: 60px;
}
.footer__menu__item a {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-size: 26px;
}
.footer__menu__item .fab {
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}
.footer__menu__link {
  height: 50px;
}
.footer__navigation__hamburger {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #252625;
  z-index: 999;
  width: 60px;
  height: 60px;
  border: none;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.footer__navigation__hamburger span {
  color: #fff;
  font-size: 30px;
  position: absolute;
  display: none;
}
.footer__navigation__hamburger span.fa-bars.active {
  display: block;
}
.footer__navigation__hamburger span.fa-times.active {
  display: block;
}
.footer__menu.active {
  display: block;
  opacity: 1;
}
.footer__navigation__hamburger.active {
  background-color: #363837;
}
.footer__time__text {
  font-family: "Work Sans";
  font-weight: 700;
}
.footer-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 15%;
}
.extra__menu {
  display: none;
}
.extra__menu ul {
  display: flex;
  flex-direction: column;
}
.extra__menu.active {
  display: block;
}
#menu-footer {
  background-color: #363837;
  position: absolute;
  left: 15%;
  right: 0;
  bottom: -60px;
  z-index: 998;
  padding-bottom: 170px;
  padding-top: 30px;
  transition: 0.3s;
  border-top-left-radius: 10px;
  margin-left: 0;
}
#menu-footer li {
  height: 50px;
  display: flex;
  align-items: center;
}
#menu-footer li::before {
  display: none;
}
#menu-footer li a {
  color: #fff;
  padding-left: 40px;
  font-size: 26px;
}
#menu-footer li:last-of-type {
  width: 40px;
  position: absolute;
  top: 330px;
  left: 46px;
  margin-left: 15px;
  padding-left: 0;
}
@media all and (min-width: 1024px) {
  .extra__menu {
    display: block;
  }
  #menu-footer {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
    background-color: transparent;
    left: 0;
    bottom: -75px;
  }
  #menu-footer li::before {
    display: block;
    padding-right: 0;
    padding-left: 35px;
  }
  #menu-footer li:hover a {
    color: #b38e7b;
    text-decoration: underline;
  }
  #menu-footer li a {
    font-size: 14px;
  }
  #menu-footer li:last-of-type {
    width: auto;
    position: static;
    top: 0;
    left: 0;
  }
  .footer {
    height: 100px;
    background-color: #252625;
  }
  .footer__time4 {
    height: 100px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__call {
    display: none;
  }
  .footer__navigation__hamburger {
    display: none;
  }
  .container.footer__container {
    display: flex;
    align-items: center;
  }
  .footer__menu {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
    position: static;
    align-items: center;
    opacity: 1;
    background-color: inherit;
  }
  .footer__menu li:nth-of-type(3)::before,
  .footer__menu li:nth-of-type(4)::before,
  .footer__menu li:nth-of-type(5)::before {
    content: "\25CF";
    color: #fff;
    font-size: 15px;
    padding-right: 28px;
    bottom: 2px;
  }
  .footer__menu li a {
    font-size: 18px;
    font-family: "Lora", sans-serif;
    text-transform: none;
    transition: 0.3s;
  }
  .footer__menu__item {
    padding-left: 28px;
  }
  .footer__menu__item:hover a {
    color: #b38e7b;
    text-decoration: underline;
  }
  .footer__navigation {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 35%;
  }
  .footer__logo__container {
    display: none;
  }
  .footer__logo--desktop {
    display: block;
    margin-right: 50px;
  }
  .footer__time4.footer__contact__time4 {
    padding-bottom: 0;
  }
  .footer__time4.footer__contact__time4::before {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .footer__menu li:nth-of-type(3)::before,
  .footer__menu li:nth-of-type(4)::before,
  .footer__menu li:nth-of-type(5)::before {
    padding-right: 40px;
  }
  .footer__menu__item {
    padding-left: 40px;
  }
  #menu-footer li a {
    font-size: 16px;
  }
}
@media all and (min-width: 1600px) {
  .menu-item .fab {
    font-size: 30px;
  }
}
.call-to-actions.bg-iphone {
  background: url("../../assets/img/iPhone.svg") center bottom -95px no-repeat;
  padding-bottom: 350px;
  background-size: 224px auto;
}
.teams .team-userpics {
  margin-left: -10px;
  margin-right: -10px;
}
.teams .team-userpics img {
  margin: 0 10px 10px;
}
.teams .slider-full-three .slider-item {
  max-width: 380px;
}
.teams .slider-full-three .slider-item.is-selected {
  opacity: 1;
}
.teams .slider-nav {
  background: Light;
}
.teams .slider-nav .flickity-viewport {
  padding-top: 8px;
  top: -8px;
}
.teams .slider-nav .slider-item {
  line-height: 140px;
}
.teams .slider-nav .is-selected::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent Light transparent;
}
.forms.bg-macbook {
  background-repeat: no-repeat;
  background-position: center;
}
.forms.bg-devices {
  background-image: url("../../assets/img/bg/ipads.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.forms .checkbox {
  display: inline-block;
}
.forms .checkbox input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.forms .checkbox input:checked ~ .check-pointer {
  background: url("../../assets/img/icons/verification-mark.svg") center
    no-repeat;
  background-size: 80%;
}
.forms .checkbox .check-pointer {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: solid 2px #e4f1fd;
  position: absolute;
}
.forms .checkbox .checkbox-label {
  opacity: 0.8;
  padding-left: 35px;
  text-align: left;
}
.forms .mail-link {
  font-size: 20px;
  border-bottom: 1px solid;
}
.testimonials .svg-wrapper {
  height: 40px;
}
.testimonials .svg-wrapper img {
  max-height: 100%;
}
.testimonials .slider-fluid .slider-item {
  max-width: calc(100% - 30px);
  opacity: 0.3;
  transition: 0.5s ease opacity;
}
.testimonials .slider-fluid .slider-item.is-selected {
  opacity: 1;
}
.testimonials .slider-fluid .slider-item .slider-skeleton {
  color: transparent;
  background: linear-gradient(to top, Accent, Accent) repeat-x;
  background-size: 1px 12px;
  background-position: center;
  transition: 0.5s ease all;
}
.testimonials .slider-fluid .slider-item.is-selected .slider-skeleton {
  color: inherit;
  font-size: inherit;
  background-image: linear-gradient(to top, transparent, transparent);
}
.testimonials .slider-subnav .slider-item,
.testimonials .slider-nav .slider-item {
  opacity: 0.3;
}
.testimonials .slider-subnav .is-selected,
.testimonials .slider-nav .is-selected {
  opacity: 1;
}
.testimonials .slider-nav {
  background: Light;
}
.testimonials .slider-nav .flickity-viewport {
  padding-top: 8px;
  top: -8px;
}
.testimonials .slider-nav .slider-item {
  line-height: 140px;
}
.testimonials .slider-nav .is-selected::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent Light transparent;
}
.testimonials .rating-stars {
  margin: 0 -2px;
}
.testimonials .rating-stars .glyphicon {
  margin: 0 2px;
}
.testimonials .rating-stars .disabled-star {
  color: Light;
}
.contacts .bg-map-right {
  background: url("../../assets/img/maps/map-1.png") no-repeat;
  background-size: cover;
  min-height: calc(100vw - 30px);
  border-radius: 4px;
}
.contacts .bg-map-left {
  background-image: url("../../assets/img/maps/map-2.png");
  background-size: cover;
  border-radius: 4px;
  min-height: calc(100vw - 30px);
}
.contacts .bg-square-map {
  background-image: url("../../assets/img/maps/map-4.png");
  border-radius: 4px;
  background-size: cover;
}
.contacts .bg-full-map {
  background-image: url("../../assets/img/maps/map-3.png");
  background-size: cover;
}
.contacts .pin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -34px 0 0 -10px;
  width: 21px;
  height: 34px;
}
.contacts .baloon {
  text-align: left;
  width: 300px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -85px;
}
.contacts .baloon::after {
  content: "";
  left: 50%;
  margin-left: -10px;
  top: 100%;
  border: 10px solid transparent;
  border-width: 10px 10px 0 10px;
  border-top-color: #fff;
  position: absolute;
}
.contacts .baloon.baloon-on-map {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: -190px auto 0 auto;
  top: 50%;
  opacity: 0;
  display: none;
}
.contacts .baloon.baloon-on-map::after {
  display: none;
}
.contacts .map-pin {
  position: absolute;
}
.contacts .map-pin:hover + .baloon.baloon-on-map {
  display: block;
  opacity: 1;
  z-index: 3;
}
.contacts .baloon-content img {
  float: left;
  margin-right: 15px;
}
.contacts .baloon-content-text {
  overflow: hidden;
}
