.c-cookie-bar{
  background-color: #252625;
  font-size: rem(11);
  padding: rem(28) rem(27) rem(25);
  line-height: 1.2;
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 55;
  transform: translateY(100%);
  transition: all 0.6s cubic-bezier(0,.64,.43,1);
  cursor: pointer;
  width: 100%;
  &.is-visible{
    transform: translateY(0);
    box-shadow: 0 -5px 25px rgba(0,0,0,0.25);
  }
  p{
    color: white;
  }
}
