.c-content {
  line-height: 1.8;
  padding-bottom: rem(45);
  margin-bottom: rem(45);
  border-bottom: solid rem(1) $color-grey;
  @include bp(xl){
    padding-bottom: rem(35);
    margin-bottom: rem(35);
  }
  @include bp(md){
    padding-bottom: rem(25);
    margin-bottom: rem(25);
  }
  @include bp(sm){
    padding-bottom: rem(20);
    margin-bottom: rem(20);
  }

  h2, h3, h4, h5 {
    margin-bottom: rem(5);
    padding-top: rem(35);
    @include bp(xxl){
      padding-top: rem(25);
    }
    @include bp(md){
      margin-bottom: rem(15);
    }
  }

  p{
    padding-bottom: rem(15);
    @include bp(xxl){
      padding-top: rem(10);
    }
  }

  h2 {
    font-size: rem(24);
    @include bp(md){
      font-size: rem(22);
    }
  }

  h3 {
    font-size: rem(22);
    @include bp(md){
      font-size: rem(20);
    }
  }

  h4 {
    font-size: rem(20);
    @include bp(md){
      font-size: rem(18);
    }
  }

  h5 {
    font-size: rem(18);
    @include bp(md){
      font-size: rem(16);
    }
  }

  ul, ol {
    padding-left: rem(25);
  }
  ul{
    list-style-type: disc;
    padding-bottom: 15px;
  }

  > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: rem(20);
    margin-top: rem(60);
    @include bp(xxl){
      margin-top: rem(45);
    }
    @include bp(md){
      margin-top: rem(35);
    }
    @include bp(sm){
      margin-top: rem(25);
      border-radius: 0;
      margin-left: rem(-20);
      margin-right: rem(-20);
      width: calc(100% + 40px);
    }
  }

}
