.c-date {
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  font-family: $font-subprimary;
  font-size: rem(16);
  color: #9b9b9b;
  @include bp(md){
    font-size: rem(14);
  }
  img {
    width: rem(20);
    margin-right: rem(15);
    @include bp(md){
      width: rem(16);
    }
  }
}
