.c-tile {
  display: block;
  position: relative;
  box-shadow: 0 0 rem(15) 0 rgba(black, .15);
  border-radius: rem(15);
  overflow: hidden;
  transition: box-shadow .4s;

  &:hover {
    box-shadow: 0 0 rem(30) 0 rgba(black, .30);
    .o-caret {
      transform: translateY(50%) scale(1.1);
    }
    .c-tile__heading {
      color: $color-primary;
    }
  }

  &__photo {
    position: relative;
    z-index: 1;
    height: rem(225);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__heading {
    position: relative;
    z-index: 0;
    background-color: white;
    font-size: rem(16);
    font-weight: 400;
    padding: rem(30) rem(25);
    transition: color .3s;
    text-align: left;
  }

  .o-caret {
    position: absolute;
    right: rem(20);
    bottom: 0;
    transform: translateY(50%);
    transition: transform .3s;
  }


}
