.c-tile-big {
  padding-bottom: rem(35);
  border-bottom: solid rem(1) $color-grey;
  margin-bottom: rem(35);
  @include bp(lg){
    padding-bottom: rem(20);
  }

  &__photo {
    border-radius: rem(15);
    height: rem(410);
    margin-bottom: rem(35);
    @include bp(xl){
      height: rem(350);
    }
    @include bp(lg){
      height: rem(300);
      margin-bottom: rem(20);
    }
    @include bp(md){
      height: rem(230);
    }
    @include bp(sm){
      height: rem(180);
    }
  }

  .o-button-grey {
    font-size: rem(14);
    padding-left: rem(16);
    padding-right: rem(16);
    margin-right: rem(5);
    margin-bottom: rem(10);
    @include bp(xl){
      font-size: rem(12);
    }
    @include bp(md){
      height: rem(30);
    }
    @include bp(sm){
      height: rem(25);
      margin-bottom: rem(7);
      margin-right: rem(5);
    }
  }

  &__heading {
    font-family: $font-subprimary;
    text-transform: uppercase;
    padding-left: 0;
    font-weight: 700;
    font-size: rem(32);
    @include bp(xl){
      font-size: rem(28);
      padding-top: rem(20);
      padding-bottom: rem(25);
    }
    @include bp(lg){
      padding-top: rem(10);
      padding-bottom: rem(15);
    }
    @include bp(md){
      font-size: rem(24);
    }
  }

  &__excerpt {
    line-height: 1.6;
    margin-bottom: rem(35);
    @include bp(lg){
      font-size: rem(14);
      margin-bottom: rem(20);
    }
  }

  &__extras {
    display: flex;
    align-items: center;

    .o-button {
      height: rem(50);
      border-radius: rem(25);
      padding-left: rem(46);
      padding-right: rem(46);
      margin-right: rem(35);
      @include bp(lg){
        height: rem(40);
        border-radius: rem(20);
        padding-left: rem(25);
        padding-right: rem(25);
        margin-right: rem(25);
      }
      @include bp(sm){
        height: rem(35);
        padding-left: rem(15);
        padding-right: rem(15);
      }
    }

  }

  &__date {

  }

}
