#menu-footer{
  li{
    &::before{
      padding-left: 18px;
    }
    &:nth-of-type(5)::before{
      content: "\25CF";
      color: White;
      font-size: 15px;
      bottom: 2px;
    }
    &:nth-last-child(2){
      margin-left: 15px;
    }
    &:first-of-type{
      a{
        padding-left: 0;
      }
    }
    a{
      padding-left: 18px;
    }
    @include bp(xl){
      &::before{
        padding-left: 15px;
      }
      a{
        padding-left: 15px;
      }
    }
  }
}
