-
  var testimonialsItems1 = [
    {
      title: 'Testimonial One',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Testimonial Two',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Testimonial Three',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Testimonial Four',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Testimonial Five',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    }
  ]

-
  var testimonialsItems2 = [
    {
      name: 'Client One',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Two',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Three',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Four',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Five',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    }
  ]

-
  var testimonialsItems3 = [
    'mashable.svg',
    'theverge.svg',
    'tinder.svg',
    'netflix.svg',
    'vine.svg',
    'adultswim.svg'
  ]

-
  var testimonialsItems5 = [
    {
      name: 'Client One',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Two',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Three',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Four',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Five',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    }
  ]

-
  var testimonialsItems6 = [
    {
      name: 'Client One',
      text: '«Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place»',
      path: 'adultswim-blue.svg'
    },
    {
      name: 'Client Two',
      text: '«Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place»',
      path: 'mashable-blue.svg'
    },
    {
      name: 'Client Three',
      text: '«Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place»',
      path: 'netflix-blue.svg'
    },
    {
      name: 'Client Four',
      text: '«Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place»',
      path: 'theverge-blue.svg'
    },
    {
      name: 'Client Five',
      text: '«Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place»',
      path: 'tinder-blue.svg'
    },
    {
      name: 'Client Six',
      text: '«Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place»',
      path: 'vine-blue.svg'
    }
  ]

-
  var testimonialsItems7 = [
    {
      name: 'Client One',
      text: '”Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia”'
    },
    {
      name: 'Client Two',
      text: '”Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia”'
    },
    {
      name: 'Client Three',
      text: '”Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia”'
    }
  ]

-
  var testimonialsItems8 = [
    {
      name: 'Client One',
      text: '"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"',
      path: 'tinder.svg'
    },
    {
      name: 'Client Two',
      text: '"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"',
      path: 'netflix.svg'
    },
    {
      name: 'Client Three',
      text: '"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"',
      path: 'vine.svg'
    }
  ]

-
  var testimonialsItems9 = [
    {
      name: 'Client One',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Two',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Three',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Four',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Five',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    }
  ]

-
  var testimonialsItems10 = [
    {
      name: 'Client One',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Two',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Three',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Four',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    },
    {
      name: 'Client Five',
      text: '«It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life»'
    }
  ]

-
  var testimonialsItems11 = [
    {
      name: 'Client One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    },
    {
      name: 'Client Two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    },
    {
      name: 'Client Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    },
    {
      name: 'Client Four',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    },
    {
      name: 'Client Five',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    },
    {
      name: 'Client Six',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    },
    {
      name: 'Client Seven',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    },
    {
      name: 'Client Eight',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.'
    }
  ]

-
  var testimonialsItems12 = [
    {
      name: 'Client One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live',
      path: 'netflix.svg'
    },
    {
      name: 'Client Two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live',
      path: 'mashable.svg'
    },
    {
      name: 'Client Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live',
      path: 'vine.svg'
    },
    {
      name: 'Client Four',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live',
      path: 'adultswim.svg'
    },
    {
      name: 'Client Five',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live',
      path: 'tinder.svg'
    }
  ]

-
  var testimonialsItems13 = [
    {
      name: 'Client One',
      text: '"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"'
    },
    {
      name: 'Client Two',
      text: '"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"'
    },
    {
      name: 'Client Three',
      text: '"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"'
    }
  ]

-
  var testimonialsItems14 = [
    {
      name: 'Client One',
      text: '"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live"'
    },
    {
      name: 'Client Two',
      text: '"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live"'
    },
    {
      name: 'Client Three',
      text: '"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live"'
    }
  ]

-
  var testimonialsItems15 = [
    {
      name: 'Client One',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Client Two',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Client Three',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Client Four',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Client Five',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Client Six',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Client Seven',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Client Eight',
      date: `11 April ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]
