
include contents

mixin testimonials-8()
  +main-section({ id: 2, partial: 'testimonials' }).text-center.pt-60.pt-lg-100.pb-0.pb-lg-40
    h1.mb-60.mb-lg-80 Testimonials

    +row
      each item in testimonialsItems8
        +testimonials-8-item(item)


//- PARTIALS
mixin testimonials-8-item({ name, text, path })
  +col(['12', 'sm-4']).mb-60
    .ph-lg-30
      .svg-wrapper.mb-30
        img(src=`img/logos/${path}`)
      p.mb-40!= text

      img.mb-20(src="img/pics/user-round-50.svg")
      h3= name
      p Position, Company
