.o-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(40);
  border-radius: rem(20);
  border: none;
  background-color: $color-primary;
  color: white;
  text-transform: uppercase;
  font-size: rem(12);;
  font-weight: 700;
  font-family: $font-subprimary;
  transition: background-color .3s;
  &:hover {
    background-color: rgba($color-primary, .85)
  }
}

.o-button-grey {
  background-color: $color-grey;
  padding: rem(5) rem(15);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(36);
  border-radius: rem(18);
  transition: background-color .3s;
  &:hover {
    background-color: rgba($color-grey, .5)
  }
}
