.o-heading {
  font-family: $font-subprimary;
  font-size: rem(30);
  letter-spacing: rem(3);
  text-transform: uppercase;
  margin-bottom: rem(25);
  @include bp(sm){
    font-size: rem(24);
    margin-bottom: rem(15);
  }
}

.o-caret {
  display: block;
  background-color: $color-primary;
  height: rem(45);
  width: rem(45);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 40%;
}

@mixin standard-heading {
  text-align: center;
  font-size: rem(36);
  margin-bottom: rem(65);
  @include bp(xxl){
    margin-bottom: rem(50);
  }
  @include bp(xl){
    margin-bottom: rem(35);
    font-size: rem(32);
  }
  @include bp(md){
    font-size: rem(28);
  }
}
