-
  var portfolioItems1 = [
    'Item One',
    'Item Two',
    'Item Three',
    'Item Four'
  ]

-
  var portfolioItems2 = [
    {
      tab: 'Tab one',
      items: [
        {
          title: 'Item One',
          isWild: true
        },
        {
          title: 'Item Two'
        },
        {
          title: 'Item Three'
        }
      ]
    },
    {
      tab: 'Tab two',
      items: [
        {
          title: 'Item One'
        },
        {
          title: 'Item Two'
        },
        {
          title: 'Item Three',
          isWild: true
        }
      ]
    },
    {
      tab: 'Tab three',
      items: [
        {
          title: 'Item One',
          isWild: true
        },
        {
          title: 'Item Two'
        },
        {
          title: 'Item Three'
        }
      ]
    },
    {
      tab: 'Tab four',
      items: [
        {
          title: 'Item One',
          isWild: true
        },
        {
          title: 'Item Two'
        },
        {
          title: 'Item Three'
        }
      ]
    }
  ]

-
  var portfolioItems3 = [
    {
      title: 'Item One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Item Two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Item Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Item Four',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Item Five',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Item Six',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var portfolio4Items = [
    {
      title: 'Item One',
      text: 'Separated they live in Bookmarksgrove'
    },
    {
      title: 'Item Two',
      text: 'Separated they live in Bookmarksgrove'
    },
    {
      title: 'Item Three',
      text: 'Separated they live in Bookmarksgrove'
    },
    {
      title: 'Item Four',
      text: 'Separated they live in Bookmarksgrove'
    },
    {
      title: 'Item Five',
      text: 'Separated they live in Bookmarksgrove'
    },
    {
      title: 'Item Six',
      text: 'Separated they live in Bookmarksgrove'
    },
    {
      title: 'Item Seven',
      text: 'Separated they live in Bookmarksgrove'
    },
    {
      title: 'Item Eight',
      text: 'Separated they live in Bookmarksgrove'
    }
  ]

-
  var portfolioItems5 = [
    {
      title: 'Item title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Item title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Item title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Item title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Item title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    }
  ]

-
  var portfolioItems6 = [
    {
      title: 'Item One'
    },
    {
      title: 'Item Two'
    },
    {
      title: 'Item Three'
    },
    {
      title: 'Item Four'
    },
    {
      title: 'Item Five'
    },
    {
      title: 'Item Six'
    },
    {
      date: '11 April' + new Date().getFullYear(),
      title: 'Example headline text',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it'
    },
    {
      title: 'Item Seven'
    },
    {
      title: 'Item Eight'
    },
    {
      title: 'Item Nine'
    },
    {
      title: 'Item Ten'
    }
  ]

-
  var portfolioItems7 = new Array(4)

-
  var portfolioItems8 = [
    {
      title: 'EZLA',
      text: 'Aplikacja służąca do wystawiania elektronicznych zwolnień lekarskich. Zaprojektowanie systemu, który będzie obsługiwał wszystkie przypadki biznesowe wymagane przez ZUS. Stworzenie przyjaznej dla lekarza aplikacji, która usprawni proces wystawiania e-zwolnień.'
    },
    {
      title: 'Karta Dużej Rodziny',
      text: 'System ulg i bonifikat skierowanych do rodzin wielodzietnych. Jej posiadacze mają możliwość korzystania z katalogu oferty handlowej, kulturalnej, rekreacyjnej czy transportowej na terenie całego kraju. SI KDR umożliwia obsługę spraw z zakresu KDR w sposób elektroniczny oraz realizację wszystkich zadań wynikających z zapisów prawa w sposób kompleksowy.'
    }
  ]
