
include contents


mixin portfolio-1()
  +main-section({ id: 1, partial: 'portfolio' }).text-center.p-60.p-lg-100
    +row
      +col
        h1.mb-40.mb-lg-80 Portfolio

        +row.mb-30
          each item in portfolioItems1
            +portfolio-1-item(item)

        a.b-500(href="")
          span.icon.icon-star
          span All items


//- PARTIALS
mixin portfolio-1-item(title)
  +col(['12', 'sm-6']).mb-15.mb-sm-30
    .card
      img.image(src="img/img-square.png").pic-lg
      .p-30.ph-30
        h2.mb-10= title

        p
          span.icon.icon-pin-stroke
          span Geolocation
