<!DOCTYPE html>
html(lang="en")
  head
    block title
      title Clean wireframes - panaceum.co

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- CSS Libraries
    //- //link(rel='stylesheet', href="css/bootstrap-grid.min.css")
    //- link(rel='stylesheet', href="css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display:400,700", rel="stylesheet")
    link(rel='stylesheet', href="css/fontawesome.min.css")
    link(rel='stylesheet', href="css/solid.min.css")
    <link rel="stylesheet" href="OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="OwlCarousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    //- link(rel="stylesheet", href="css/flickity.css")

    //- JS Libraries
    script(src="js/jquery-3.2.1.min.js")
    //- script(src="js/bootstrap.min.js")
    //- script(src="js/flickity.js")
    <script src="OwlCarousel/dist/owl.carousel.min.js"></script>
    
    //- Custom js scripts
    script(src="js/script.js", defer)

    //- Headline modules styles
    link(rel='stylesheet', href="css/main.css")

  body
    block content
      h1 Wireframe HTML Generator
      h4 Something went wrong. You've built an empty page
