-
  var sliderItems1 = [
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    }
  ]

-
  var sliderItems2 = [
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    }
  ]

-
  var sliderItems3 = [
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var sliderItems4 = [0, 1, 2, 3, 4]

-
  var sliderItems5 = [0, 1, 2, 3, 4]

-
  var sliderItems6 = [
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Headline title example',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    }
  ]

-
  var sliderItems7 = [
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    }
  ]

-
  var sliderItems8 = [
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },
    {
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    }
  ]

-
  var sliderScreens9 = [0, 1, 2, 3, 4, 5]

-
  var sliderItems10 = [0, 1, 2]
