include contents

mixin slider-3(sectionTitle)
  +main-section({ id: 3, partial: 'sliders', isFluid: true }).text-center
    .image.pt-120.pb-150.h-lg-540.mb--60.pic-md

    .container.pb-60.pb-lg-100
      .card
        .slider.no-gutters(id="sliders-3-slider")
          //each item in sliderItems3
            +slider-3-item(item)
          +row('center')
            +col(['12', 'sm-10', 'lg-6']).p-40.p-lg-80
              h1.mb-20= sectionTitle
              h4.mb-40 W SOFTIQ realizujemy nasze pasje związane z nowymi technologiami. Nasi ludzie łączą w sobie unikalne doświadczenie, ogromną wiedzę i energię w działaniu. W trakcie tworzenia projektów stawiamy na współpracę, a swoje działania koncentrujemy na kliencie.
              +button-small

  script.
    $("#sliders-3-slider").flickity({
      cellSelector:    ".slider-item",
      cellAlign:       'center',
      resize:          true,
      contain:         true,
      imagesLoaded:    true,
      wrapAround:      false,
      adaptiveHeight:  true,
      pageDots:        true,
      groupCells:      true,
      prevNextButtons: true
    })

//- PARTIALS
mixin slider-3-item({ title, text })
  .slider-item
    +row('center')
      +col(['12', 'sm-10', 'lg-6']).p-40.p-lg-80
        h1.mb-20= title
        h4.mb-40!= text
        +button-small
