

mixin form-5()
  +main-section({ id: 5, partial: 'forms' }).text-center.text-lg-left.p-60.p-lg-100
    .panel.p-60.ph-15.ph-sm-90
      +row('between', 'center')
        +col(['12', 'lg-6']).mb-40.mb-lg-0
          h2 Join our newsletter!

        +col(['12', 'lg-6'])
          form
            +row.form-group.no-gutters
              +col('8')
                +input({ icon: 'plane' })(type="text" placeholder="Input").icon-left
              +col('4')
                +button.w-full
