

mixin content-2()
  section.offer
    .container.offer__container
        h2.offer__header sprawdź <br>ofertę
        .offer__text__container
          ul.offer__list
            li.offer__list__item
              a(href="#") Ochrona Danych Osobowych
                span.fas.fa-angle-right
            li.offer__list__item
              a(href="#") Prawo Własności Intelektualnej
                span.fas.fa-angle-right
            li.offer__list__item
              a(href="#") Prawo w E-commerce
                span.fas.fa-angle-right
          .offer__btn__container
            button.offer__btn Pokaz więcej

    