
include contents

mixin content-14()
  +main-section({ id: 14, partial: 'contents' }).text-center.text-sm-left.p-60.p-lg-100
    +row('between', 'center')
      +col(['12', 'sm-6', 'lg-5']).mb-40.mb-lg-0
        h1.mb-20 Headline
        h4.mb-30.
          Należymy do Grupy Technologicznej Euvic, która stanowi największą federację spółek informatycznych w Europie Środkowej. Jej powstanie dowiodło, że przedsiębiorcy potrafią się wspierać i osiągać kompromisy w imię budowy wspólnych interesów. Obecnie Grupa Euvic dysponuje zespołem ponad 1500 inżynierów działających na terenie całej Polski, w Wiedniu, Leverkusen, Londynie i New Jersey a jej Klienci to ponad 900 przedstawicieli wszystkich dziedzin gospodarki krajowej i zagranicznej.  Grupa Euvic konsekwentnie rośnie w siłę i przyczynia się do wewnętrznego rozwoju i ekspansji rynkowej każdej z przynależnych do niej spółek.  
          Więcej informacji na www.euvic.pl

      +col(['12', 'sm-6', 'lg-6'])
        img.image(src="img/img-square.png", alt="").pic-lg


//- PARTIALS
mixin content-14-subitem({ title, text })
  +col('6')
    h3= title
    p!= text
