
include contents

mixin content-5()
   section.ebook
    .container.ebook__wrapper
      .ebook__container
        img.ebook__img(src="img/pics/ebook.png", alt="Ebook")
        h2.ebook__header Pobierz eBooka za darmo!
      form.ebook__form
        p.ebook__header--form Pobierz eBooka za darmo!
        label.ebook__label(for="email") Wpisz swój adres e-mail, aby pobrać pdf'a:
        .ebook__input__container
          span.fas.fa-envelope.newsletter__icon
          input.ebook__input(type="email" name="email" placeholder="Wpisz e-mail")
          input.ebook__form--submit(type="submit", value="Pobierz ebook")

  
