

mixin content-1()
  section.about#about__section
    .container
      h2.about__header Barbara Sośnicka - kim jestem?
      .about__logo__container
        img.about__logo(src="img/logos/logo_small.png", alt="Logo")
      p.about__paragraph <span>Po pierwsze </span>jestem radcą prawnym (dla tych, którzy nie wiedzą - ukończyłam studia prawnicze na Wydziale Prawa, Administracji i Ekonomii Uniwersytetu Wrocławskiego, następnie 3-letnią aplikację radcowską, aby ostatecznie zdać z wynikiem pozytywnym państwowy 4-dniowy egzamin radcowski).
      .about__btn__container
        button.about__btn Rozwiń więcej
    