//About section
.about
  padding: 25px 20px 50px 20px

.about__header
  font-family: 'Work Sans'
  font-size: 24px
  line-height: 1.4
  text-transform: uppercase
  letter-spacing: 2px
  padding-right: 20px

.about__logo__container
  text-align: center
  margin: 30px auto 20px auto

.about__logo
  height: 40px

.about__paragraph
  line-height: 2
  span
    color: Black
    font-weight: 700

.about__btn__container
  text-align: center

.about__btn,
.offer__btn
  width: 170px
  height: 40px
  border-radius: 20px
  border: none
  background-color: ButtonBrown
  color: White
  text-transform: uppercase
  font-size: 12px
  font-weight: 700
  margin: 30px auto 0 auto
  font-family: 'Work Sans'

.offer__btn
  margin: 17px auto 0 34px

//Offer section
.offer
  height: 414px
  background-color: OfferBg
  background-image: url('../img/pics/offer_img_small.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.offer__header
  color: White
  font-family: 'Work Sans'
  font-weight: 700
  font-size: 30px
  line-height: 1
  padding: 30px

.offer__text__container
  background-color: MainBlack
  width: 329px
  height: 203px
  padding: 25px 30px 30px 30px
  position: absolute
  top: 211px
  right: 0
  color: White

.offer__list
  padding-left: 5px
  list-style: none

.offer__list__item
  a
    line-height: 1.9
    font-size: 16px
    color: White
  &::before
    color: ButtonBrown
    content: "\25CF"
    font-size: 11px
    padding-right: 8px
  span
    display: none

//Blog section
.blog
  height: 464px
  background-color: BlogBg
  padding-left: 20px

.blog__header
  font-size: 24px
  font-family: 'Work Sans'
  text-transform: uppercase
  padding-top: 30px
  padding-bottom: 20px
  letter-spacing: 2px

.blog__paragraph
  font-size: 18px
  padding-right: 30px
  padding-bottom: 40px
  line-height: 1.3


.blog__item
  border-radius: 15px
  height: 225px
  min-width: 225px
  background-color: White
  overflow: hidden
  box-shadow: 0 10px 30px rgba(54, 56, 55, 0.1)

.blog__link
  display: flex
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  background-color: ButtonBrown
  border-radius: 50%
  border: none
  color: White
  font-size: 23px
  box-shadow: 0 10px 30px rgba(54, 56, 55, 0.1)
  position: absolute
  top: 44%
  left: 75%

.blog__text
  padding: 20px
  line-height: 1.2

.blog__image
  height: 53%
  background-position: center
  background-repeat: no-repeat

.blog__image--1
  background-image: url(../img/pics/blog_large_1.jpg)

.blog__image--2
  background-image: url(../img/pics/blog_large_2.jpg)

.blog__image--3
  background-image: url(../img/pics/blog_large_3.jpg)

.blog__image--4
  background-image: url(../img/pics/blog_large_4.jpg)

//Slider
.owl-carousel
  width: 100%
  margin-right: 0
  overflow: hidden
  height: 100%

.owl-item.active
  min-width: 225px
  z-index: 10

.owl-item
  width: 80%

.owl-stage
  width: 100%

.owl-stage-outer
  width: 100%
  height: 225px

.owl-nav
  display: none

.owl-dots
  position: absolute
  top: 250px

.owl-dot
  width: 8px
  height: 8px
  border-radius: 50px
  background-color: SliderIndicators
  outline: none
  border: none
  margin: 6px

.owl-dot.active
  width: 70px

//Contact section
.contact
  text-align: center
  padding: 60px 20px 30px 20px
  height: auto

.contact__text__container
  padding: 0 0 30px 0
  h2
    font-size: 24px
    color: ContactText
    font-weight: 400
    padding-bottom: 11px
    margin-top: 40px
  p:nth-of-type(1)
    font-size: 16px
    line-height: 1.6
    padding-bottom: 8px
    width: 80%
    margin: 0 auto
  p:nth-of-type(2)
    font-size: 18px
    padding-bottom: 32px

.contact__address__btn
  width: 280px
  height: 50px
  background-color: BlogBg 
  border-radius: 15px
  border: none 
  display: flex
  justify-content: center
  align-items: center
  color: MainBlack
  margin-bottom: 10px
  font-style: normal

.contact__address__container
  display: flex
  flex-direction: column
  align-items: center

.contact__address
  margin-bottom: 23px

.contact__border__container
  position: absolute
  border: 2px solid BlogBg
  border-radius: 15px
  top: 60px
  left: 20px
  right: 20px
  bottom: 60px

.contact__icon
  background-color: White
  top: -20px
  padding-left: 24px
  padding-right: 24px

//Ebook section
.ebook
  background-color: EbookBg
  padding: 0 20px
  color: White

.ebook__img
  top: -20px

.nf-form-title
  h3
    font-weight: 400
    font-size: 24px
    padding-bottom: 20px

.ebook__header--form
  display: none

.ebook__container
  display: flex
  align-items: center
  justify-content: center

.nf-form-content
  display: flex
  flex-direction: column
  align-items: center

#nf-field-5
  width: 300px
  height: 50px
  border-radius: 15px
  border: none
  margin-top: 20px
  padding-left: 60px
  font-size: 14px
  outline: none

.nf-field-label
  text-align: left 

.ebook__input__container
  text-align: center
  width: 300px

.newsletter__icon
  color: InputColor
  position: absolute
  top: 35px
  left: 15px
  z-index: 10
  font-size: 20px

#nf-field-6
  margin-top: -75px
  width: 300px
  height: 50px
  border: none 
  border-radius: 15px
  background-color: ButtonBrown
  color: White
  text-transform: uppercase
  font-family: 'Work Sans'
  font-size: 12px
  letter-spacing: 2px
  margin-bottom: 50px

#nf-form-2-cont
  padding-top: 50px
  text-align: center

.nf-response-msg
  font-size: 10px
  position: absolute
  top: 123px
  left: 50px

.nf-error-msg
  font-size: 10px
  position: absolute
  left: 30px

.nf-error-required-error
  top: -80px;
  left: 94px;

.nf-after-form-content
  .nf-error-field-errors
    position: absolute
    top: -72px
    left: -122px
    width: 250px

//Contact page section=========================
.contact__page__icon
  width: 30px
  height: 30px
  border: none 
  background-color: ButtonBrown 
  border-radius: 50%
  color: White
  display: flex
  align-items: center
  justify-content: center

.mail__container,
.phone__container,
.address__container
  display: flex
  align-items: center
  margin-bottom: 10px
  text-align: center
  width: 100%
  flex-grow: 1
  a,
  address
    font-style: normal
    padding-left: 15px
    font-size: 14px
    text-align: center

.mail__container
  a
    color: ButtonBrown

.phone__container
  a
    color: inherit
  
address.contact__page__address__container
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding-bottom: 30px
  max-width: 280px
  margin: 0 auto

//RWD
//Min width 360px
@media all and (min-width: 360px) 
  .mail__container,
  .phone__container,
  .address__container
    a,
    address
      font-size: 16px
  
  .contact__text__container
    padding: 0 10px 30px 10px

//min width 420px
@media all and (min-width: 420px)
  .offer
    background-image: url('../img/pics/offer_img_large.png')
    background-position-x: 42%
    background-size: cover

  .offer__header
    position: absolute
    right: 0
    top: 40px

//Min width 730px
@media all and (min-width: 730px)
  .offer__header
    right: 55px
    top: 60px

//Min width 910px
@media all and (min-width: 910px)
  address.contact__page__address__container
   max-width: none
  
  .mail__container,
  .phone__container,
  .address__container
    width: 33%
    justify-content: center

//Min width 1024px
@media all and (min-width: 1024px)
  .about
    width: 80%
    margin: auto
    text-align: center
    padding: 60px 20px 80px 20px
  
  .about__btn
    width: 190px
    height: 50px
    border-radius: 25px
  
  .about__paragraph
    font-size: 20px
    width: 70%
    margin: 0 auto
    padding-top: 5px

  .blog__paragraph
    padding-right: 0
  
  .offer__header
    z-index: 999
  
  .offer__text__container
    height: 414px
    width: 400px
    top: 0
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 25px 30px 50px 30px

  .offer
    background-size: contain
    background-position: left 

  .offer__list
    a
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      line-height: 4
      transition: .3s
    li:nth-of-type(1)
      border-top: 1px solid ContactText
    li
      display: flex
      align-items: center
      border-bottom: 1px solid ContactText
      cursor: pointer
      &:hover a
        color: ButtonBrown
        text-decoration: underline
      span
        width: 32px
        height: 32px
        background-color: ButtonBrown
        border: none
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        color: White
        font-size: 16px
        position: absolute
        right: 0
  
  .offer__header
    right: 88px
    top: 30px
  
  .offer__btn
    display: none

  .blog
    text-align: center
    padding-left: 10px
    padding-right: 10px
  
  .blog__header
    font-size: 37px
    padding-top: 60px
    padding-bottom: 30px

  .blog__paragraph
    padding-bottom: 60px

  .contact__text__container
    display: flex
    justify-content: space-around
    width: 770px
    margin: 0 auto
    padding: 105px 0 130px 0
    p:nth-of-type(1)
      width: 100%
      padding-bottom: 24px
    p:nth-of-type(2)
      padding-bottom: 0
    h2
      margin-top: 0
  
  .contact__text__container.contact__page__text__container
    display: block
    width: 86%
  
  .contact__border__container.contact__page__border__container
    max-width: 1170px
  
  .contact__page__address__container
    padding-top: 55px
  
  .contact__page__text
    width: 56%
    margin: 0 auto
    
  .contact__border__container
    max-width: 770px
    margin: 0 auto
    top: 87px
    bottom: 85px
    height: 320px

  .contact__text
    width: 40%
    text-align: left

  .contact__address__container
    justify-content: center
    width: 40%
  
  .contact__address
    margin-bottom: 0
  
  .ebook__wrapper
    display: flex
    justify-content: center
  
  .ebook__header
    display: none

  .ebook__header--form
    display: block
    font-size: 24px
    left: -17px
    top: -17px
  
  .ebook__form
    justify-content: flex-end
    padding-bottom: 60px
    margin-left: 0

  #nf-field-6
    position: absolute
    width: 145px
    top: 0
    right: -60px
    margin-bottom: 0
    letter-spacing: 0
  
  .nf-field-label label
    width: 330px
    display: inline-block

  #nf-form-2-cont
    text-align: left
  
  .ebook__img
    top: -28px
    left: -70px
  
  .nf-response-msg
    top: 123px
    left: 70px

  .nf-error-msg
    left: 30px

  .nf-error-required-error
    top: 15px
    left: 63px
  
  .nf-after-form-content 
    .nf-error-field-errors
      top: -58px
      left: 10px

//Min width 1170px
@media all and (min-width: 1170px)
  .contact__icon
    padding-left: 60px
    padding-right: 60px
  
  .offer
    max-width: 1170px
    margin: 0 auto
    box-shadow: 0 10px 40px rgba(54, 56, 55, 0.4)
    border-radius: 15px
    overflow: hidden
    z-index: 10
  
  .blog
    height: 700px
    padding-top: 100px
    margin-top: -110px
  
  .owl-item
    max-width: 270px
    min-height: 355px

  .offer__list__item
    a
      font-size: 20px
  
  .offer__list
    a
      line-height: 3

//Min width 1300px
@media all and (min-width: 1300px)
  .about__btn
    margin: 75px auto 0 auto
  
  .offer__text__container
    width: 470px
    padding: 25px 30px 65px 30px

  .offer__header
    font-size: 36px
    text-align: center
    letter-spacing: 2px
    right: 109px
    top: 15px
  
  .offer__list
    padding-left: 30px
    padding-right: 30px
    li
      line-height: 3
      font-size: 20px
  
  .blog__item
    height: 322px

  .blog__image
    height: 68%

  .blog__link
    top: 62%
    left: 78%
  
  .blog__text
    padding: 30px 20px
    line-height: 1.4

  .mail__container,
  .phone__container,
  .address__container
    a,
    address
      font-size: 18px
  
  .contact__text__container
    padding: 110px 40px 80px 40px
    width: 770px
    h2
      font-size: 24px
    p:nth-of-type(1)
      font-size: 16px
    p:nth-of-type(2)
      font-size: 18px
  
  .address__container
    padding-left: 30px
  
  .contact__page__text
    width: 65%

  .contact__text__container.contact__page__text__container
    padding: 80px 40px 80px 40px;
    h2
      font-size: 30px
    p:nth-of-type(1)
      font-size: 18px
    p:nth-of-type(2)
      font-size: 20px
  
  .contact__border__container.contact__page__border__container
    height: 370px

  .contact 
    padding: 60px 20px 80px 20px

  .contact.contact__page
    padding: 60px 20px 30px 20px
  
  .owl-stage-outer
    height: 330px


//Min width 1600px
@media all and (min-width: 1600px)
  .about
    padding: 115px 20px 90px 20px
  
  .about__header
    padding-right: 0
    padding-bottom: 8px
  
  .about__logo
    height: 50px

  address.contact__page__address__container
    padding-top: 55px

//Min width 1920px
@media all and (min-width: 1920px)
  .contact__page__icon
    width: 35px
    height: 35px