

mixin content-9()
  +main-section({ id: 9, partial: 'contents' }).text-center.text-sm-left.p-60.p-lg-100
    +row('between', 'center')
        +col(['12', 'sm-6', 'lg-5']).mb-40.mb-sm-0
          h1.mb-20 Headline
          h4.mb-40.
            Far far away, behind the word mountains,
            far from the countries Vokalia and Consonantia,
            there live the blind texts
          h3.mb-20 Works in your browser
          img(src="img/logos/browsers.svg", alt="")

        +col(['12', 'sm-6'])
          img.image(src="img/img-4-3.png", alt="").pic-md
