
include contents

mixin content-3()
  section.blog
    .container
      h2.blog__header Blog
      p.blog__paragraph Porta urna stibulum commodo volutpat a convallis ac, laoreet enim.
      .blog__container.owl-carousel
        .blog__item
          .blog__image--1.blog__image
          p.blog__text Jak reagować na żądania osób fizycznych związane z RODO?
          a(href="#").blog__link
            span.fas.fa-angle-right
            //- img(src="img/icons/angle_right.png", alt="Icon")
        .blog__item
          .blog__image--2.blog__image
          p.blog__text DPIA - dokonywanie oceny skutków dla ochrony danych
          a(href="#").blog__link
            span.fas.fa-angle-right
            //- img(src="img/icons/angle_right.png", alt="Icon")
        .blog__item
          .blog__image--3.blog__image
          p.blog__text Jak reagować na żądania osób fizycznych związane z RODO?
          a(href="#").blog__link
            span.fas.fa-angle-right
            //- img(src="img/icons/angle_right.png", alt="Icon")
        .blog__item
          .blog__image--4.blog__image
          p.blog__text DPIA - dokonywanie oceny skutków dla ochrony danych
          a(href="#").blog__link
            span.fas.fa-angle-right
            //- img(src="img/icons/angle_right.png", alt="Icon")


  
