

mixin content-10()
  +main-section({ id: 10, partial: 'contents' }).text-center.bg-light.bg-macbook.p-60.p-lg-100
    +row
      +col(['12', 'sm-8', 'lg-6'])
        .bg-white.p-60.p-lg-100.ph-15.ph-sm-30.ph-lg-80
          h1.mb-20 Example headline text
          h4.mb-60.
            When she reached the first hills of the Italic Mountains, she had
            a last view back on the skyline of her hometown Bookmarksgrove

          a.arrow.b-500(href="#") Learn more
