

mixin content-6()
  section.contact
    .contact__border__container.contact__page__border__container
      img.contact__icon(src="img/icons/phone_icon.png", alt="Icon")
    .container
      .contact__text__container.contact__page__text__container
        .contact__page__text
          h2.contact__header Skontaktuj się ze mną!
          p.contact__paragraph--1 Możemy porozmawiać telefonicznie, przez Skype’a lub umówić się na spotkanie w kancelarii. 
          p.contact__paragraph--2 Zarezerwuj mój czas juz dziś!
        address.contact__page__address__container
          .mail__container
            span.fas.fa-envelope.contact__page__icon
            a.contact__page__mail(href="mailto:kontakt@kancelariasosnicka.pl") kontakt@kancelariasosnicka.pl
          .phone__container
            span.fas.fa-phone.contact__page__icon
            a.contact__page__phone(href="tel:+48504333785") +48 504 333 785
          .address__container
            span.fas.fa-map-marker-alt.contact__page__icon
            address.contact__page__address Tychy, Dąbrowskiego 87
