

mixin content-4()
  section.contact
    .contact__border__container
      img.contact__icon(src="img/icons/phone_icon.png", alt="Icon")
    .container
      .contact__text__container
        .contact__text
          h2.contact__header Skontaktuj się ze mną!
          p.contact__paragraph--1 Możemy porozmawiać telefonicznie, przez Skype’a lub umówić się na spotkanie w kancelarii. 
          p.contact__paragraph--2 Zarezerwuj mój czas juz dziś!
        address.contact__address__container
          a.contact__mail.contact__address__btn(href="mailto:kontakt@kancelariasosnicka.pl") kontakt@kancelariasosnicka.pl
          a.contact__phone.contact__address__btn(href="tel:+48504333785") +48 504 333 785
          address.contact__address.contact__address__btn Tychy, Dąbrowskiego 87