.s-about {
  padding-top: rem(30);
  padding-bottom: rem(105);
  @include bp(xl){
    padding-top: rem(20);
    padding-bottom: rem(75);
  }

  &__tile {
    width: 100%;
    max-width: rem(780);
    margin-left: auto;
    margin-right: auto;
    padding-top: rem(45);
    padding-bottom: rem(45);
    border-bottom: solid rem(1) #dedede;
    @include bp(xl){
      padding-top: rem(35);
      padding-bottom: rem(40);
    }
    @include bp(md){
      padding-top: rem(30);
      padding-bottom: rem(35);
    }
    &:last-of-type {
      border-bottom: none;
    }

    .o-heading {
      //font-size: rem(48);
      //letter-spacing: rem(3);
      //margin-bottom: rem(45);
      font-size: rem(22);
      margin-bottom: rem(15);
      //@include bp(xl){
      //  font-size: rem(22);
      //  margin-bottom: rem(15);
      //}
      //@include bp(lg){
      //  font-size: rem(36);
      //  margin-bottom: rem(25);
      //}
      //@include bp(md){
      //  font-size: rem(28);
      //  margin-bottom: rem(20);
      //}
    }

  }

  &__content {
    padding-left: rem(105);
    font-size: rem(16);
    line-height: 1.75;
    @include bp(xxl){
      padding-left: rem(85);
    }
    @include bp(xl){
      padding-left: rem(45);
    }
    @include bp(md){
      padding-left: 0;
    }
  }

}
