.s-blog {
  padding-top: rem(80);
  padding-bottom: rem(100);
  @include bp(xl){
    padding-top: rem(65);
  }
  @include bp(lg){
    padding-top: rem(45);
  }

  &__container {
    width: rem(1000);
  }

  &__tile {
    // .c-tile-big:last-of-type {
    //   border-bottom: none;
    // }
  }

}
