.s-comments {
  margin-bottom: rem(65);
  @include bp(md){
    margin-bottom: rem(45);
  }

  .o-heading {
    @include standard-heading;
    margin-bottom: rem(50);
    @include bp(xxl){
      margin-bottom: rem(40);
    }
    @include bp(xl){
      margin-bottom: rem(30);
    }
  }
}
