.s-hero {
  padding: rem(35);
  @include bp(lg){
    padding: rem(20) rem(35);
  }
  @include bp(md){
    padding: rem(20);
  }

  .container {
    @include bp(md){
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__frame {
    position: relative;
    height: 100%;
    border: solid rem(2) white;
    border-radius: rem(15);
    padding: rem(45) rem(25) rem(45);
    max-width: rem(1920);
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }

  .hero__mail {
    position: absolute;
    left: 0;
    top: 50%;
    // top: 0;
    bottom: auto;
    transform-origin: center;
    transform: none;
    transform: translateX(-50%) translateY(-50%) rotateZ(-90deg);
  }

  .navigation {
    top: auto;
    .menu {
      margin-left: 0;
    }
  }

  &__back-photo {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: rem(1200);
    max-width: 100%;
    background-image: url('../img/pics/hero_img_large.png');
    background-position: bottom right 5%;
    background-repeat: no-repeat;
    @include bp(xl){
      background-position: bottom right;
    }
    @include bp(lg){
      background-image: url('../img/pics/hero_img_small.png');
      background-position: bottom center;
    }
  }

  &__date {
    @include bp(lg){
      text-align: center;
      margin-bottom: rem(35);
    }
    @include bp(md){
      margin-bottom: rem(25);
    }
    @include bp(sm){
      text-align: left;
    }
  }

  &__author {
    position: absolute;
    right: rem(15);
    bottom: rem(-20);
    color: #9b9b9b;
    text-align: right;
    display: flex;
    align-items: center;
    font-family: $font-subprimary;
    text-transform: uppercase;
    @include bp(lg){
      position: relative;
      right: auto;
      bottom: auto;
    }
    @include bp(md){
      font-size: rem(14);
    }
    @include bp(sm){
      flex-direction: row-reverse;
    }
    span {
      color: white;
      font-family: $font-primary;
      text-transform: none;
    }

    &-content {
      @include bp(lg){
        position: absolute;
        right: rem(90);
        width: calc(50vw - 120px);
      }
      @include bp(md){
        right: rem(80);
      }
      @include bp(sm){
        position: relative;
        right: auto;
        text-align: left;
        padding-left: rem(10);
      }
    }

    &-photo {
      height: rem(80);
      width: rem(80);
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin-left: rem(20);
      @include bp(lg){
        margin-left: auto;
        margin-right: auto;
      }
      @include bp(md){
        height: rem(70);
        width: rem(70);
      }
    }
  }

}
