header.s-hero-standard {

  .container {
    height: 100%;
    @include bp(xl){
      width: rem(1150);
    }
  }

  .hero__header__contact {
    position: relative;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: rem(50);
    text-align: left;
    font-size: rem(74);
    letter-spacing: rem(6);
    @include bp(xl){
      font-size: rem(64);
    }
    @include bp(lg){
      padding-bottom: 0;
      font-size: rem(50);
      top: rem(-20);
      text-align: center;
      transform: none;
    }
    @include bp(md){
      font-size: rem(36);
      top: rem(-10);
    }
    @include bp(sm){
      font-size: rem(30);
      top: rem(10);
      transform: translateY(-50%);
    }
  }

  .s-hero__back-photo {
    background-image: url('../img/pics/contact_hero_pic_large.png');
    background-position: bottom right 15%;
    background-size: auto 70%;
    @include bp(xl){
      background-position: bottom right;
      background-size: auto 70%;
    }
    @include bp(lg){
      background-image: url('../img/pics/contact_hero_pic.png');
      background-position: bottom center;
      background-size: auto 60%;
    }
  }

}

@mixin s-hero-back-photo-alt {
  .s-hero__back-photo {
    background-image: url('../img/About/photo.png');
    background-position: bottom right 5%;
    @include bp(xl){
      background-position: bottom right;
    }
    @include bp(lg){
      background-image: url('../img/About/photo_min.png');
      background-position: bottom center;
    }
  }
}
