header.s-hero-single {
  position: relative;
  min-height: rem(470);
  background-image: none;
  @include bp(xl){
    min-height: rem(400);
  }
  @include bp(md){
    min-height: rem(350);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include bp(lg){
      // justify-content: flex-start;
      align-items: center;
    }
    @include bp(md){
      justify-content: space-around;
    }
    @include bp(sm){
      align-items: flex-start;
    }
  }

  .s-hero-single__back {
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero__header__contact {
    font-size: rem(48);
    letter-spacing: 0;
    top: auto;
    transform: none;
    max-width: 70%;
    padding-bottom: 0;
    @include bp(xl){
      font-size: rem(36);
    }
    @include bp(lg){
      max-width: none;
      margin-bottom: rem(35);
    }
    @include bp(md){
      font-size: rem(28);
      margin-bottom: rem(25);
    }
    @include bp(sm){
      font-size: rem(24);
      text-align: left;
    }
  }

  .hero__mail {
    padding-top: rem(3);
    padding-bottom: rem(3);
    background-color: transparent;
    background-image: linear-gradient(to top, rgba($color-black, 0), $color-black 40%, $color-black 60%, rgba($color-black, 0));
    @include bp(sm){
      display: none;
    }
  }

}
