.s-hero-home {

  .container {
    height: 100%;
  }

  .hero__mail {
    top: auto;
    left: 0;
    bottom: rem(25);
    transform-origin: center left;
    transform: rotateZ(-90deg);
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero__header--container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: rem(50);
    @include bp(lg){
      top: rem(30);
    }
  }

  .s-hero__back-photo {
    top: 20%;
    background-size: contain;
    @include bp(xl){
      background-size: auto 80%;
    }
    @include bp(lg){
      background-size: auto;
    }
  }

}
