.s-others {
  padding-bottom: rem(120);

  .o-heading {
    @include standard-heading;
  }

  &__tile {
    width: 100%;
    flex-grow: 1;
    padding-left: rem(15);
    padding-right: rem(15);
    padding-top: rem(35);
    padding-bottom: rem(35);
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: rem(-35);
    margin-left: rem(-15);
    margin-right: rem(-15);
    @include bp(md){
      margin-left: rem(-20);
      margin-right: rem(-20);
    }
    &:after, &:before {
      content: "";
      position: absolute;
      z-index: 99;
      top: rem(0);
      bottom: rem(0);
      width: rem(25);
          // background-color: red;
      @include bp(md){
        display: none;
      }
    }
    &:after {
      left: 0;
      background-image: linear-gradient(to right, white, rgba(white, 0));
    }
    &:before {
      right: 0;
      background-image: linear-gradient(to left, white, rgba(white, 0));
    }
  }

}
