.s-offer {

  &__tile {
    padding-top: rem(80);
    padding-bottom: rem(90);
    @include bp(xxl){
      padding-top: rem(55);
      padding-bottom: rem(65);
    }
    @include bp(md){
      padding-top: rem(35);
      padding-bottom: rem(45);
    }
    &:nth-of-type(2n){
      background-color: #f4f4f4;

      .s-offer__row {
        flex-direction: row-reverse;
      }

      .s-offer__content {
        padding-left: rem(90);
        padding-right: 0;
        @include bp(xxl){
          padding-left: rem(45);
          padding-right: rem(15);
        }
        @include bp(lg){
          padding-left: rem(25);
        }
      }

      .s-offer__photo {
        &.b-lazy {
          transform: translateX(rem(-20));
        }
        &.b-loaded {
          transform: translateX(0);
        }
      }
    }
  }

  &__row {
    // @include gutters(0)
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: rem(120);
    @include bp(xxl){
      padding-right: rem(45);
    }
    @include bp(lg){
      padding-right: rem(25);
    }
    @include bp(md){
      margin-bottom: rem(25);
    }

    > h2 {
      @extend .o-heading;
    }

    p, li {
      line-height: 1.85;
    }

    > p {
      strong {
        font-size: rem(18);
        @include bp(xl){
          font-size: rem(16);
        }
      }
    }

    > ul {
      padding-top: rem(10);
    }

    li {
      position: relative;
      padding-left: rem(10);
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: rem(13);
        display: inline-block;
        width: rem(5);
        height: rem(5);
        border-radius: 50%;
        background-color: $color-primary;
      }
    }

  }

  &__photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: rem(420);
    border-radius: rem(15);
    margin-top: rem(10);
    transition: opacity .5s, transform 1.5s;
    transition-delay: .5s;
    @include bp(lg){
      min-height: rem(350);
    }
    @include bp(md){
      min-height: rem(250);
    }
    &.b-lazy {
      transform: translateX(rem(20));
    }
    &.b-loaded {
      transform: translateX(0);
    }
  }

}
