.s-others--home {
  padding-top: rem(160);
  height: auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: rem(55);
  @include bp(xl){
    padding-top: rem(65);
  }
  @include bp(md){
    padding-top: rem(55);
    padding-bottom: rem(45);
  }

  .s-others__container {
    &:after {
      left: 0;
      background-image: linear-gradient(to right, #eaeaea, rgba(#eaeaea, 0));
    }
    &:before {
      right: 0;
      background-image: linear-gradient(to left, #eaeaea, rgba(#eaeaea, 0));
    }
  }

  .blog__paragraph {
    text-align: center;
    padding-right: 0;
    @include bp(md){
      font-size: rem(16);
    }
  }

}
