.s-single {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include bp(xl){
    padding-top: rem(20);
  }
  @include bp(sm){
    padding-top: rem(5);
  }

  &__container {
    max-width: rem(1000);
    @include bp(xl){
      max-width: 100%;
    }
  }

  &__tags {
    font-size: rem(14);
    @include bp(md){
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .o-button-grey {
      margin-right: rem(10);
      margin-bottom: rem(10);
      @include bp(md){
        height: rem(30);
        border-radius: rem(15);
        font-size: rem(12);
      }
    }

  }

}
