
include contents

mixin call-10()
  +main-section({ id: 10, partial: 'call-to-actions' }).bg-iphone.text-center.pt-60.pt-lg-100
    h1.mb-40.mb-lg-60 Call to action

    +row('center')
      each item in callButtons10
        +call-10-button(item)


//- PARTIALS
mixin call-10-button(path)
  +col('auto').mb-10
    a(href="")
      img(src=path alt="")
