
include contents

mixin call-7()
  +main-section({ id: 7, partial: 'call-to-actions' }).pt-60.pt-lg-100.pb-20.pb-sm-60.pb-lg-100
    +row('around')
      each item in callItems7
        +call-7-item(item)


//- PARTIALS
mixin call-7-item({ title, text, link })
  +col(['12', 'sm-6', 'lg-5']).d-flex.mb-40.mb-sm-0
    .mr-25
      img(src="img/pics/star-54.svg" alt="")

    div
      h2.mb-20= title
      p.mb-20!= text

      a.b-500.arrow(href="")= link
