extend ../layout

block title
    title Wireframe presentation

block content
    include variables
    include common/common

    include headers/header-17
    include sliders/slider-3
    include features/feature-14
    include grids/grid-2
    include contents/content-14
    include footers/footer-1

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)

    +header-17()
    +slider-3('O nas')
    +feature-14()
    +grid-2()
    +content-14()
    +footer-1()