extend ../layout

block title
    title Wireframe presentation

block content
    include variables
    include common/common

    include headers/header-17
    include sliders/slider-3
    include blogs/blog-6
    include footers/footer-1

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)


    +header-17()
    +slider-3('Kariera')
    +blog-6('Najnowsze oferty pracy')
    +footer-1()
