extend ../layout

block title
    title Radca Prawny Barbara Sośnicka

block content
    include variables
    include common/common

    include headers/header-2
    include contents/content-6
    include footers/footer-2

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)

    +header-2()
    +content-6()
    +footer-2()

