extend ../layout

block title
    title Clean generator

block content
    include variables
    include common/common

    include headers/header-5
    include contents/content-18
    include contents/content-1
    include footers/footer-1

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)

    +header-5('FAQ')
    +content-18()
    +content-1()
    +footer-1()

