extend ../layout

block title
  title Radca Prawny Barbara Sośnicka

block content
  include variables
  include common/common

  include variables
  include common/common

  include headers/header-1
  include contents/content-1
  include contents/content-2
  include contents/content-3
  include contents/content-4
  include contents/content-5
  include footers/footer-1

  //- Insert modules here as mixin calls.
  //- (same indent as this comment)

  +header-1()
  +content-1()
  +content-2()
  +content-3()
  +content-4()
  +content-5()
  +footer-1()