extend ../layout

block title
    title Clean generator

block content
    include variables
    include common/common

    include headers/header-17
    include prices/price-3
    include footers/footer-16

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)

    +header-17()
    +price-3()
    +footer-16()
