extend ../layout

block title
    title Wireframe presentation

block content
    include variables
    include common/common

    include headers/header-17
    include portfolio/portfolio-8
    include footers/footer-1

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)

    +header-17()
    +portfolio-8()
    +footer-1()
