extend ../layout

block title
    title Wireframe presentation

block content
    include variables
    include common/common

    include headers/header-17
    include blogs/blog-14
    include footers/footer-1

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)


    +header-17()
    +blog-14()
    +footer-1()
