extend ../layout

block title
    title Wireframe presentation

block content
    include variables
    include common/common

    include headers/header-17
    include teams/team-3
    include teams/team-4
    include footers/footer-1

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)


    +header-17()
    +team-3()
    +team-4()
    +footer-1()

