extend ../layout

block title
    title Wireframe presentation

block content
    include variables
    include common/common

    include headers/header-17
    include testimonials/testimonials-8
    include testimonials/testimonials-12
    include footers/footer-1

    //- Insert modules here as mixin calls.
    //- (same indent as this comment)

    +header-17()
    +testimonials-8()
    +testimonials-12()
    +footer-1()

