@font-face
  font-family: 'Work Sans'
  src: url("../webfonts/Novecento sans wide Normal.otf") format("opentype")
  font-weight: 400

@font-face
  font-family: NovecentoSansWideBold
  src: url("../webfonts/Novecento sans wide Bold.otf") format("opentype")
  font-weight: 700

body
  margin: 0 auto
  font-family: 'Playfair Display', sans-serif;
  color: MainBlack

a
  text-decoration: none
  cursor: pointer

ul
  list-style-type: none

button
  cursor: pointer
  outline: none

.container
  margin: 0 auto
  width: 1170px
  max-width: 100%

