

mixin blog-9()
  +main-section({ id: 9,  partial: 'blogs' }).text-center.text-sm-left.p-60.p-lg-100
    +row('between')
      +col(['12', 'sm-6', 'lg-5'])
        h1.mb-40.mb-sm-0 Wireframe connects the underlying conceptual structure

      +col(['12', 'sm-6', 'lg-6'])
        h4.mb-40.
          Far far away, behind the word mountains, far from the
          countries Vokalia and Consonantia, there live the blind texts.
          Separated they live in Bookmarksgrove right at the coast of
          the Semantics, a large language ocean

        a.b-500.arrow(href="") Read more
