-
  var blogItems1 = [
    {
      title: 'Post One',
      text: 'Far far away, behind the word mountains, far from the countries',
      link: 'Read full story'
    },
    {
      title: 'Post Two',
      text: 'Far far away, behind the word mountains, far from the countries',
      link: 'Watch slideshow',
      icon: true
    },
    {
      title: 'Post Three',
      text: 'Far far away, behind the word mountains, far from the countries',
      link: 'Read more'
    }
  ]

-
  var blogItems2 = [
    {
      title: 'Post One',
      date:  `11 Apr ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    },
    {
      title: 'Post Two',
      date:  `11 Apr ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia',
      isVideo: true
    },
    {
      title: 'Post Three',
      date:  `11 Apr ${new Date().getFullYear()}`,
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    }
  ]

-
  var blogItems3 = [
    {
      tag: 'Tag one',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag two',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag three',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag one',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag two',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag three',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag one',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag two',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      tag: 'Tag three',
      title: 'Wireframe connects conceptual structure',
      date: `11 Apr ${new Date().getFullYear()}`
    }
  ]

-
  var blogItems5 = [
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      date: `11 Apr ${new Date().getFullYear()}`
    },
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      date: `11 Apr ${new Date().getFullYear()}`
    }
  ]

-
  var blogItems6 = [
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Wireframe connects conceptual structure',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var blogItems12 = [
    {
      date: `11 Apr ${new Date().getFullYear()}`,
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries'
    },
    {
      date: `11 Apr ${new Date().getFullYear()}`,
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries'
    },
    {
      date: `11 Apr ${new Date().getFullYear()}`,
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries'
    },
    {
      date: `11 Apr ${new Date().getFullYear()}`,
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries'
    }
  ]

-
  var blogItems13 = [
    {
      date: `11 Apr ${new Date().getFullYear()}`,
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      date: `11 Apr ${new Date().getFullYear()}`,
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var blogBadges14 = [
    {
      title: 'Feature title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      title: 'Feature title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      title: 'Feature title',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    }
  ]

-
  var blogComments15 = [
    {
      name: 'Author name',
      time: '3:32 PM',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      name: 'Author name',
      time: '3:32 PM',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    }
  ]

-
  var blogItems16 = [
    {
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia.'
    },
    {
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia.'
    },
    {
      title: 'Example headline text',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia.',
      isWild: true
    }
  ]
