include partials

mixin footer-2()
  footer.footer
    .container.footer__container
      .footer__time4.footer__contact__time4
        img.footer__logo--desktop(src="img/logos/logo_white_small.png", alt="Logo")
        p.footer__time__text 2019 &copy; made with passion by <a href="https://time4.pl/" target="_blank" rel="noopener noreferrer">time4</a>
      .footer__navigation
        button.footer__navigation__hamburger.rwd__menu
          span.fas.fa-bars.rwd__menu.active
          span.fas.fa-times.rwd__menu
        .footer__call
          img(src="img/icons/phone_icon_small.png", alt="Phone icon")
          a(href="tel:+48504333785") Zadzwoń!
        ul.footer__menu.rwd__menu
          li.footer__menu__item.footer__logo__container
            img(src="img/logos/logo_white_small.png", alt="Logo")
          li.footer__menu__item
            a(href="#").footer_menu__link Strona główna
          li.footer__menu__item
            a(href="#").footer_menu__link Blog
          li.footer__menu__item
            a(href="#").footer_menu__link O kancelarii
          li.footer__menu__item
            a(href="#").footer_menu__link Kontakt
          li.footer__menu__item.footer__social__container
            a(href="https://www.facebook.com/RadcaprawnyBarbaraSosnicka/" target="_blank" rel="noopener noreferrer")
              span.fab.fa-facebook-f
            a(href="https://www.facebook.com/RadcaprawnyBarbaraSosnicka/" target="_blank" rel="noopener noreferrer")
              span.fab.fa-twitter

