//Footer section
.footer__navigation
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 999
  
.footer__time4
  height: 53px
  display: flex
  justify-content: center
  align-items: center
  text-transform: uppercase
  color: Time4
  font-size: 12px
  padding-bottom: 85px;
  padding-top: 27px;
  a
    color: Time4

.footer__time4.footer__contact__time4
  padding-bottom: 85px
  &::before
    content: ''
    display: block
    height: 1px
    width: 100%
    background-color: BlogBg
    position: absolute
    top: -5px

.footer__call
  background-color: FooterBlack
  padding: 0 20px

.footer__call
  height: 55px
  display: flex
  align-items: center
  img
    margin-right: 20px
  a
    color: White
    text-transform: uppercase
    font-family: 'Work Sans'
    font-weight: 700

.footer__logo--desktop
  display: none

.footer__menu
  background-color: MainBlack
  position: absolute
  display: none
  left: 15%
  right: 0
  bottom: 0
  opacity: 0
  z-index: 998
  padding-bottom: 100px
  padding-top: 30px
  transition: .3s
  border-top-left-radius: 10px

.footer__menu__item
  display: flex
  align-items: center
  justify-content: flex-start
  padding-left: 20px
  height: 60px
  a
      color: White
      text-align: left
      text-transform: uppercase
      // font-family: 'Work Sans'
      font-size: 26px
  .fab
    color: White
    font-size: 30px
    margin-right: 20px

.footer__menu__link
  height: 50px

.footer__navigation__hamburger
  position: absolute
  bottom: 0
  right: 0
  background-color: FooterHamburger
  z-index: 999
  width: 60px
  height: 60px
  border: none 
  border-top-left-radius: 15px
  display: flex
  justify-content: center
  align-items: center
  outline: none
  cursor: pointer
  span
    color: White
    font-size: 30px
    position: absolute
    display: none
  span.fa-bars.active
    display: block
  span.fa-times.active
    display: block

.footer__menu.active
  display: block
  opacity: 1

.footer__navigation__hamburger.active
  background-color: MainBlack

.footer__time__text
  font-family: 'Work Sans'

//Footer menu===============
.footer-menu
  position: absolute
  bottom: 0
  right: 0
  left: 15%

.extra__menu
  display: none
  ul
    display: flex
    flex-direction: column

.extra__menu.active
  display: block

#menu-footer
  background-color: MainBlack
  position: absolute
  // display: none
  left: 15%
  right: 0
  bottom: -60px
  // opacity: 0
  z-index: 998
  padding-bottom: 170px
  padding-top: 30px
  transition: .3s
  border-top-left-radius: 10px
  margin-left: 0
  li
    height: 50px
    display: flex
    align-items: center
    &::before
      display: none
    a
      color: White
      padding-left: 40px
      font-size: 26px
  li:last-of-type
    width: 40px
    position: absolute
    top: 233px
    left: 46px
    margin-left: 15px
    padding-left: 0

//Min width 1024px
@media all and (min-width: 1024px)
  .extra__menu
    display: block

  #menu-footer
    flex-direction: row
    padding-bottom: 0
    padding-top: 0
    background-color: transparent
    left: 0
    bottom: -75px
    li
      &::before
        display: block
        padding-right: 0
        padding-left: 35px
      &:hover a
        color: ButtonBrown
        text-decoration: underline
      a
        font-size: 14px
    li:last-of-type
      width: auto
      position: static
      top: 0
      left: 0

  .footer
    height: 100px
    background-color: FooterHamburger
  
  .footer__time4
    height: 100px
    padding-top: 0
    padding-bottom: 0

  .footer__call
    display: none
  
  .footer__navigation__hamburger
    display: none
  
  .container.footer__container
    display: flex
    align-items: center

  .footer__menu
    display: flex
    padding-top: 0
    padding-bottom: 0
    height: 100px
    position: static
    align-items: center
    opacity: 1
    background-color: inherit
    li
      &:nth-of-type(3)::before,
      &:nth-of-type(4)::before,
      &:nth-of-type(5)::before
        content: "\25CF"
        color: White
        font-size: 15px
        padding-right: 28px
        bottom: 2px
      a
        font-size: 18px
        font-family: "Lora", sans-serif
        text-transform: none
        transition: .3s

  .footer__menu__item
    padding-left: 28px
    &:hover
      a
        color: ButtonBrown
        text-decoration: underline
  
  .footer__navigation
    position: absolute
    right: 0
    top: 0
    bottom: 0
    left: 35%
  
  .footer__logo__container
    display: none

  .footer__logo--desktop
    display: block
    margin-right: 50px
  
  .footer__time4.footer__contact__time4
    padding-bottom: 0
    &::before
      display: none

    
//Min width 1200px
@media all and (min-width: 1200px)
  .footer__menu
    li
      &:nth-of-type(3)::before,
      &:nth-of-type(4)::before,
      &:nth-of-type(5)::before
        padding-right: 40px

  .footer__menu__item
    padding-left: 40px
  
   #menu-footer
    li
      a
        font-size: 18px

//Min width 1600px
@media all and (min-width: 1600px)
  .menu-item
    .fab
      font-size: 30px