

mixin contacts-3()
  +main-section({ id: 3, partial: 'contacts' }).text-center.p-60.p-lg-100
    h1.mb-20 Contacts
    .mb-20
      p
        a(href="mailto:") hello@panaceum.co
      p +1 222-345-0000

    p Saint-Petersburg,
    p 191186 Millionnaya st. 29


